<ul class="list-tags">
    <li><a href="#">Sport</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">League</a></li>
    <li><a href="#">Cup</a></li>
    <li><a href="#">Soccer</a></li>
    <li><a href="#">Player</a></li>
    <li><a href="#">Championship</a></li>
</ul>