<div class="block-categories">
    <ul class="list-marked list-marked-categories">
        <li><a href="#">Soccer</a><span class="list-marked-counter">68</span></li>
        <li><a href="#">The Team</a><span class="list-marked-counter">16</span></li>
        <li><a href="#">League</a><span class="list-marked-counter">20</span></li>
    </ul>
</div>