<article class="heading-component">
    <div class="heading-component-inner">
        <h5 class="heading-component-title">{{ heading_title| default('Heading Title') }}
        </h5>
    </div>
</article>