<li>
    <a class="cd-faq-trigger" href="#0">{% block faq_title %}{% endblock %}</a>
    <div class="cd-faq-content">

        {% block faq_content %}
        {% endblock faq_content %}
    </div> <!-- cd-faq-content -->
</li>