<p>
    According to the provisions of Russian law (Federal Law No. 133 of 22 July 2008), a foreign national is required to
    present the following minimal set of documents to check in at any hotel or hostel in Russia: &nbsp;
</p>
<p>
</p>
<ul>
    <li>
        passport;
    </li>
    <li>
        migrant ID card with a stamp of the border checkpoint where the person entered the Russian Federation (citizens
        of Belarus are exempt);
    </li>
    <li>
        a valid entry visa, which should cover the duration of the planned hotel stay. Fans travelling to Russia for the
        2018 World Cup present their FAN ID (place link here) in lieu of a visa.
    </li>
</ul>
<p>
    At check-in, the guest receives a guest registration card, attesting his/her contract for accommodation services
    with the hotel, with their room key.
</p>
<p>
    With most Russian hotels, guests are free to check in at any convenient time after 2:00 PM. The option to check in
    early (between midnight and 1:00 PM) should be agreed upon in advance. Make sure early check-in is indicated on the
    reservation, if you need one. Some hotels bill their guests by 24-hour period, starting from the check-in time.
    &nbsp;
</p>
<p>
    The check-out time is 12:00 Noon. Subject to room availability, guests may be allowed to check out later, but late
    check-out permission should be requested in advance. Most hotels will charge for this, though. &nbsp;
</p>
<p>
    At check-out, guests are expected to fully settle their bill and hand in their guest card and room key. &nbsp;&nbsp;
</p>
Guests may drop off their luggage in the hotel’s left luggage room, if there is one, on check-in and/or check-out day, subject to a maximum limit of 12 hours. There is no extra charge for this service. &nbsp;
<br>
