{% extends 'GuideBundle:component:_base.html.twig' %}

{% block page_content %}
    <section class="cd-faq">
        <ul class="cd-faq-categories">
            <li><a class="selected" href="#service">Mobile services and the Internet</a></li>
        </ul>

        <div class="cd-faq-items">
            <ul id="service" class="cd-faq-group">
                <li class="cd-faq-title"><h2>Buying medicine</h2></li>

            </ul> <!-- cd-faq-group -->

        </div> <!-- cd-faq-items -->
        <a href="#0" class="cd-close-panel">Close</a>
    </section> <!-- cd-faq -->
{% endblock %}