<p>
    There are a couple of ways to book a hotel or apartment.
</p>
<p>
</p>
<ul>
    <li>
        Contact a travel agent in your country.&nbsp;The agent will charge commission, but you will be relieved of the
        need to do your own search, compare the different options, and read descriptions and feedback in a foreign
        language. &nbsp;
    </li>
    <li>
        Make your own reservation on the aggregator site or the site of the hotel where you plan to stay.
    </li>
</ul>
<p>
</p>
<p>
    The terms of reservation may vary, but the option to cancel your reservation free of charge is available in most
    cases. On an apartment, however, you are likely to be asked for a prepayment, and you don’t get a refund if you
    cancel. &nbsp;&nbsp;
</p>
<p>
    You pay by bank card on most websites, but you usually use your bank card to post a security deposit, and then pay
    the balance when you get there. Most hotels take credit cards, but a mini hotel, hostel or apartment manager may ask
    for cash. This point should be clarified before you make your reservation. &nbsp;
</p>
<p>
    The agency that manages short-term rental apartments may ask for a prepayment by invoice or by bank transfer
    card-to-card, instead of the usual practice of paying by bank card on the website. In this case, you will receive an
    invoice by email after making your reservation on the website.
</p>
<p>
    The majority of Russian hotels, hostels and apartments are on booking.com. Other popular hotel search engines, both
    local and global, are also available, e.g. hotels.com, ostrovok.ru, agoda.com, ozon.travel, momondo.ru, and others.
</p>
<p>
    To compare the prices offered by the different booking systems, use these websites or mobile apps: trivago.ru,
    hotellook.ru or roomguru.ru.
</p>
It is safer to make apartment reservations on a well-known aggregator website, such as booking.com or airbnb.com. Any other option, including classified ads and people advertising accommodation services at the airport or railway station, is fraught with risk.
<br>
<br>
