<ul>
    <li>
        1 - [odin]
    </li>
    <li>
        2 - [dva]
    </li>
    <li>
        3 - [tri]
    </li>
    <li>
        4 - [chetyri]
    </li>
    <li>
        5 - [pyat']
    </li>
    <li>
        6 - [shest']
    </li>
    <li>
        7 - [sem']
    </li>
    <li>
        8 - [vosem']
    </li>
    <li>
        9 - [devyat']
    </li>
    <li>
        10 - [desyat']
    </li>
    <li>Hello! - Здравствуйте! - [zdrastvuite]</li>
    <li>Bye! - До свидания! - [da svidania]</li>
    <li>Thank you! - Спасибо! - [spasiba]</li>
    <li>Please - Пожалуйста - [pazhalusta]</li>
    <li>What is your name? - Как вас зовут? - [Kak vas zovut?]</li>
    <li>My name is ... - Меня зовут ... - [Menya zovut ...]</li>
    <li>Entrance/exit - вход/выход - [vkhod/vykhod]</li>
    <li>Please help me - Пожалуйста, помогите мне - [Pazhalusta pomogite mne]</li>
    <li>Can I&nbsp;ask you? - Могу я вас спросить? - [Mogu ya vas sprosit?]</li>
    <li>I don't agree - Я не согласен - [Ya ne soglasen]</li>
    <li>Set meal - комплексный обед - [komplexny obet]</li>
    <li>
        Business lunch - бизнес-ланч - [biznes lanch]
    </li>
    <li>
        How do I get to the train station/metro/stadium/bar/museum/hotel? - Как пройти к
        вокзалу/метро/стадиону/бару/музею/гостинице? - [Kak proiti k vokzalu/metro/stadionu/baru/muzeyu/gostinitse?]
    </li>
    <li>Straight - Прямо - [pryamo]</li>
    <li>Right - Направо - [napravo]</li>
    <li>Left - Налево - [nalevo]</li>
    <li>Bus - Автобус - [avtobus]</li>
    <li>Train - Поезд - [poezd]</li>
    <li>Metro - Метро - [metro]</li>
    <li>Taxi - Такси - [taksi]</li>
    <li>Police - Полиция - [politsiya]</li>
    <li>
        I forgot my passport in the hotel - Я забыл паспорт в гостинице - [Ya zabyl pasport v gostinitse]
    </li>
    <li>How much it this? - Сколько это стоит? - [Skolko eto stoit?]</li>
    <li>Do you accept credit cards? - Вы принимаете кредитные карты? - [Vi prinimaete kreditniye karty?]</li>
    <li>I don't speak Russian - Я не говорю по-русски - [Ya ne govoryu po-russki]</li>
    <li>Do you speak English? - Вы говорите по-английски? - [Vy govorite po-angliyski?]</li>
    <li>What is your W-Fi password? - Какой у вас пароль от Wi-Fi? - [Kakoy u vas parol ot vay-fai?]</li>
</ul>