<div class="list-articles__item">
    <h3>How will volunteers help the visitors</h3>


    <p>
        More than 15,500 volunteers&nbsp;across 11 host cities for the 2018 FIFA World Cup will take part in the
        matches. There will be the same number of city volunteers, helping out at the events. The volunteers will assist
        organizers in 20 different functional capacities, including protocols, media relations, transportation,
        assisting the visitors, and much more.
    </p>
    <p>
        <a target="_blank" href="http://www.fifa.com/worldcup/organisation/volunteers/index.html/">2018 World Cup
            Volunteer Program</a>
    </p>
</div>