
{% block body %}
<div class="comment-box-main">
    <h5 class="comment-box-name">Miranda</h5>
    {{ form_start(form , {'attr' : {'class': 'rd-mailform comment-box-form '}}) }}
    <div class="form-wrap">{{ form_widget(form.content , {'attr': {'class' : 'form-input'}}) }}</div>
    <div class="form-button"><input class="button button-primary" type="submit" value="Create" /></div>
    {{ form_end(form) }}
</div>
{% endblock %}
