<header class="section page-header rd-navbar-dark">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic">
            <div class="rd-navbar-main">
                {% include 'AppBundle:navbar-component:_nav-panel.html.twig' %}
                {% include 'AppBundle:navbar-component:_nav-main-top.html.twig' %}
                {% include 'AppBundle:navbar-component:_nav-main-bottom.html.twig' %}
            </div>
        </nav>
    </div>
</header>