<section class="section parallax-container breadcrumbs-wrap"
         data-parallax-img="{{ asset('assets/images/bg-breadcrumbs-1.jpg') }}">
    <div class="parallax-content breadcrumbs-custom context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Blog Elements</h3>
            <ul class="breadcrumbs-custom-path">
                {# TODO Create the breadcrumb#}
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Features</a></li>
                <li class="active">Blog Elements</li>
            </ul>
        </div>
    </div>
</section>
