{% extends 'BackBundle:common:_base.html.twig' %}

{% block page_content %}

    <h1>Place</h1>




    <ul>
        <li>
            <a href="{{ path('admin_place_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_place_edit', { 'id': place.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
