<ul class="list-statictics">
    <li><a href="#">Goals scored</a><span class="list-statictics-counter">{% block gs %}{% endblock %}</span></li>
    <li><a href="#">Shots</a><span class="list-statictics-counter">{% block shots %}{% endblock %}</span></li>
    <li><a href="#">Shots on target</a><span class="list-statictics-counter">{% block sot %}{% endblock %}</span></li>
    <li><a href="#">Assists</a><span class="list-statictics-counter">{% block assists %}{% endblock %}</span></li>
    <li><a href="#">Fouls</a><span class="list-statictics-counter">{% block fouls %}{% endblock %}</span></li>
    <li><a href="#">Corners</a><span class="list-statictics-counter">{% block corners %}{% endblock %}</span></li>
    <li><a href="#">Penalties</a><span class="list-statictics-counter">{% block penalties %}{% endblock %}</span></li>
    <li><a href="#">Yellow Cards</a><span class="list-statictics-counter">{% block yc %}{% endblock %}</span></li>
    <li><a href="#">Red Cards</a><span class="list-statictics-counter">{% block rc %}{% endblock %}</span></li>
</ul>