{% extends 'base.html.twig' %}
{% block title %}Teams List{% endblock %}
{% block header_team %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    <section class="section parallax-container breadcrumbs-wrap" data-parallax-img="{{ asset('templates/images/bg-breadcrumbs-1.jpg') }}">
        <div class="parallax-content breadcrumbs-custom context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Roster</h3>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="#">Team</a></li>
                    <li class="active">List</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">List
                                    </h5>
                                </div>
                            </article>
                            <div class="card-standing card-group-custom card-standing-index" id="accordion1" role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Team</div>
                                            <div class="card-standing-team">Participation</div>
                                            <div class="card-standing-team">Winner</div>
                                            <div class="card-standing-team">2nd</div>
                                            <div class="card-standing-team">3rd</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Tunisia'}) }}">
                                        <div class="card-standing-team-item" >
                                            <div class="card-standing-team">
                                                <div class="card-standing-team-figure"><img src="{{ asset('templates/images/TunisiaFlag.png') }}" alt="" width="50" height="37"/>
                                                </div>
                                                <div class="card-standing-team-title">
                                                    <div class="card-standing-team-name">Tunisia</div>
                                                </div>
                                            </div>
                                            <div class="card-standing-team">153</div>
                                            <div class="card-standing-team">30</div>
                                            <div class="card-standing-team">1</div>
                                            <div class="card-standing-team">586</div>
                                        </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <div class="card-standing-team-item">
                                            <div class="card-standing-team">
                                                <div class="card-standing-team-figure"><img src="./images/team-sevilla-45x35.png" alt="" width="45" height="35"/>
                                                </div>
                                                <div class="card-standing-team-title">
                                                    <div class="card-standing-team-name">Sevilla</div>
                                                    <div class="card-standing-team-country">Spain</div>
                                                </div>
                                            </div>
                                            <div class="card-standing-team">153</div>
                                            <div class="card-standing-team">30</div>
                                            <div class="card-standing-team">1</div>
                                            <div class="card-standing-team">586</div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <div class="card-standing-team-item">
                                            <div class="card-standing-team">
                                                <div class="card-standing-team-figure"><img src="./images/team-real-madrid-29x43.png" alt="" width="29" height="43"/>
                                                </div>
                                                <div class="card-standing-team-title">
                                                    <div class="card-standing-team-name">Real Madrid</div>
                                                    <div class="card-standing-team-country">Spain</div>
                                                </div>
                                            </div>
                                            <div class="card-standing-team">153</div>
                                            <div class="card-standing-team">30</div>
                                            <div class="card-standing-team">1</div>
                                            <div class="card-standing-team">586</div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <div class="card-standing-team-item">
                                            <div class="card-standing-team">
                                                <div class="card-standing-team-figure"><img src="./images/team-celta-vigo-37x34.png" alt="" width="37" height="34"/>
                                                </div>
                                                <div class="card-standing-team-title">
                                                    <div class="card-standing-team-name">Celta Vigo</div>
                                                    <div class="card-standing-team-country">Italy</div>
                                                </div>
                                            </div>
                                            <div class="card-standing-team">153</div>
                                            <div class="card-standing-team">30</div>
                                            <div class="card-standing-team">1</div>
                                            <div class="card-standing-team">586</div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading5" role="tab">
                                        <div class="card-standing-team-item">
                                            <div class="card-standing-team">
                                                <div class="card-standing-team-figure"><img src="./images/team-barcelona-36x31.png" alt="" width="36" height="31"/>
                                                </div>
                                                <div class="card-standing-team-title">
                                                    <div class="card-standing-team-name">Barcelona</div>
                                                    <div class="card-standing-team-country">Spain</div>
                                                </div>
                                            </div>
                                            <div class="card-standing-team">153</div>
                                            <div class="card-standing-team">30</div>
                                            <div class="card-standing-team">1</div>
                                            <div class="card-standing-team">586</div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading6" role="tab">
                                        <div class="card-standing-team-item">
                                            <div class="card-standing-team">
                                                <div class="card-standing-team-figure"><img src="./images/team-bavaria-fc-39x37.png" alt="" width="39" height="37"/>
                                                </div>
                                                <div class="card-standing-team-title">
                                                    <div class="card-standing-team-name">Bavaria FC</div>
                                                    <div class="card-standing-team-country">Germany</div>
                                                </div>
                                            </div>
                                            <div class="card-standing-team">153</div>
                                            <div class="card-standing-team">30</div>
                                            <div class="card-standing-team">1</div>
                                            <div class="card-standing-team">586</div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}