<div class="promo promo-modern">
    <div class="promo-meta promo-modern-meta">
        <p class="promo-title promo-modern-title heading-4">Europa League final 2017</p>
        <time class="promo-time" datetime="2017-04-14">Saturday, April 14, 2017</time>
    </div>
    <div class="promo-main promo-modern-main">
        <div class="promo-team promo-modern-team">
            <figure class="promo-team-figure"><img src="{{ asset('/asstes/images/team-atletico-77x77.png') }}" alt=""
                                                   width="77" height="77"/>
            </figure>
            <div class="promo-team-name">Atletico</div>
            <div class="promo-team-country">USA</div>
        </div>
        <div class="promo-middle promo-modern-middle">VS</div>
        <div class="promo-team promo-modern-team">
            <figure class="promo-team-figure"><img src="{{ asset('/asstes/images/team-real-madrid-57x81.png') }}" alt=""
                                                   width="57" height="81"/>
            </figure>
            <div class="promo-team-name">Real Madrid</div>
            <div class="promo-team-country">Spain</div>
        </div>
    </div>
    <div class="promo-modern-countdown">
        <div class="countdown countdown-classic" data-type="until" data-time="31 Dec 2018 16:00" data-format="dhms"
             data-style="short"></div>
    </div>
    <a class="button button-default button-block" href="#"><span>Buy tickets now</span></a>
</div>
