<div class="promo-creative unit-spacing-lg">
    <div class="unit unit-md-horizontal align-items-center align-items-md-stretch">
        <div class="unit-body">
            <div class="promo-creative-meta">
                <time class="promo-creative-time" datetime="2017-05-17"><span class="heading-1">17</span><span
                            class="heading-5">May</span></time>
                <div class="promo-creative-meta-description"><span
                            class="text-primary">08:30 pm</span><span>Saturday</span></div>
            </div>
            <div class="promo-creative-figure"><img src="{{ asset('/asstes/images/sport-elements-1-357x321.jpg') }}"
                                                    alt="" width="357" height="321"/>
            </div>
        </div>
        <div class="unit-right">
            <div class="promo-creative-details">
                <h3 class="promo-creative-title">American league 2017</h3>
                <p class="promo-creative-location"><span class="icon icon-gray-800 mdi mdi-map-marker"></span>New
                    Yorkers Stadium
                </p>
                <div class="promo-creative-countdown">
                    <div class="countdown countdown-bordered" data-type="until" data-time="31 Dec 2018 16:00"
                         data-format="dhms" data-style="short"></div>
                </div>
                <div class="promo-main promo-creative-main">
                    <div class="promo-team promo-creative-team">
                        <figure class="promo-team-figure"><img
                                    src="{{ asset('/asstes/images/team-atletico-37x37.png') }}" alt="" width="37"
                                    height="37"/>
                        </figure>
                        <div class="promo-team-title">
                            <div class="promo-team-name">Atletico</div>
                            <div class="promo-team-country">USA</div>
                        </div>
                    </div>
                    <div class="promo-creative-middle">VS</div>
                    <div class="promo-team promo-creative-team">
                        <figure class="promo-team-figure"><img
                                    src="{{ asset('/asstes/images/team-sevilla-45x35.png') }}" alt="" width="45"
                                    height="35"/>
                        </figure>
                        <div class="promo-team-title">
                            <div class="promo-team-name">Sevilla</div>
                            <div class="promo-team-country">Spain</div>
                        </div>
                    </div>
                </div>
                <div class="promo-creative-tickets">
                    <div class="promo-buttons text-nowrap">
                        <div class="promo-button promo-button-share fl-bigmug-line-share27">
                            <ul class="promo-share-list">
                                <li class="promo-share-item"><span>Share</span></li>
                                <li class="promo-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                                <li class="promo-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                                <li class="promo-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                                <li class="promo-share-item"><a class="icon fa fa-instagram" href="#"></a></li>
                            </ul>
                        </div>
                        <a class="button button-primary" href="#">Buy tickets</a>
                    </div>
                    <p class="promo-creative-tickets-description">Only<span
                                class="promo-creative-tickets-number">89</span>Tickets Left, Hurry Up</p>
                </div>
            </div>
        </div>
    </div>
</div>
