{% extends 'AppBundle:common:base.html.twig' %}
{% block body %}
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <!-- List-post Classic -->
                <div class="col-sm-9 col-md-6 col-lg-4">
                    {% include 'AppBundle:blog-component:_heading-component-title.html.twig' with {'title': "In the spotlight"} %}
                    <div class="list-post-classic">
                        {% for i in 1..3 %}
                            <!-- Post Classic-->
                            {# TODO : Pass variables to @_post-classic-image#}
                            {% include 'AppBundle:blog-component:_post-classic-image.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
                <!-- TAB Modern -->
                <div class="col-sm-9 col-md-6 col-lg-4">
                    {% include 'AppBundle:blog-component:_heading-component-title.html.twig' with {'title': "TRENDING News"} %}
                    {% include 'AppBundle:blog-component:_tabs-modern.html.twig' %}
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                    {% include 'AppBundle:blog-component:_heading-component-title.html.twig' with {'title': "HOT News"} %}
                    {% for i in 1..4 %}
                        <!-- Post Classic-->
                        {# TODO : Pass variables to @_post-minimal-image#}
                        {% include 'AppBundle:blog-component:_post-minimal.html.twig' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <!-- Comment classic -->
                <div class="col-sm-9 col-md-6 col-lg-4">
                    {% include 'AppBundle:blog-component:_heading-component-title.html.twig' with {'title': "LATEST COMMENTS"} %}
                    {% for i in 1..4 %}
                        <!-- Post Classic-->
                        {# TODO : Pass variables to @_post-minimal-image#}
                        {% include 'AppBundle:blog-component:_comment-classic.html.twig' %}
                    {% endfor %}
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                    {% include 'AppBundle:blog-component:_heading-component-title.html.twig' with {'title': "EVENTS"} %}
                    {% for i in 1..4 %}
                        <!-- Post Classic-->
                        {# TODO : Pass variables to @_post-minimal-image#}
                        {% include 'AppBundle:blog-component:_post-modern.html.twig' %}
                    {% endfor %}
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                    {% include 'AppBundle:blog-component:_heading-component-title.html.twig' with {'title': "EVENTS"} %}
                    {% for i in 1..4 %}
                        <!-- Post Classic-->
                        {# TODO : Pass variables to @_post-minimal-image#}
                        {% include 'AppBundle:blog-component:_comment-modern.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {#TODO : Add blog elements blog-elements.html #}
{% endblock %}
