{% extends '@Front/common/_base.html.twig' %}

{% block body %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Store Cart'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li class=""><a href="{{ path('ticket_index') }}">Ticket</a></li>
            <li class="active">Cart</li>
            <li class="active">Checkout</li>
        {% endblock %}
    {% endembed %}


{% endblock %}
