<section class="section section-variant-1 bg-gray-100">
    <div class="container">
        <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card-login-register" id="card-l-r">
                    <div class="card-top-panel">
                        <div class="card-top-panel-left">
                            <h5 class="card-title card-title-login">Login</h5>
                            <h5 class="card-title card-title-register">Register</h5>
                        </div>
                        <div class="card-top-panel-right"><span class="card-subtitle"><span class="card-subtitle-login">Register now</span><span
                                        class="card-subtitle-register">Sign in</span></span>
                            <button class="card-toggle" data-custom-toggle="#card-l-r"><span
                                        class="card-toggle-circle"></span></button>
                        </div>
                    </div>
                    <div class="card-form card-form-login">
                        <form class="rd-form rd-mailform" novalidate="novalidate">
                            <div class="form-wrap has-error">
                                <label class="form-label rd-input-label" for="form-login-name-1">Login</label>
                                <input class="form-input form-control-has-validation form-control-last-child"
                                       id="form-login-name-1" type="text" name="form-input"
                                       data-constraints="@Required"><span class="form-validation">The text field is required.</span>
                            </div>
                            <div class="form-wrap">
                                <label class="form-label rd-input-label" for="form-login-password-1">Password</label>
                                <input class="form-input form-control-has-validation form-control-last-child"
                                       id="form-login-password-1" type="password" name="password"
                                       data-constraints="@Required"><span class="form-validation"></span>
                            </div>
                            <label class="checkbox-inline checkbox-inline-lg checkbox-light">
                                <input name="input-checkbox-1" value="checkbox-1" type="checkbox"
                                       class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Remember Me
                            </label>
                            <button class="button button-lg button-primary button-block" type="submit">Sign in</button>
                        </form>
                        <div class="group-sm group-sm-justify group-middle"><a
                                    class="button button-google button-icon button-icon-left button-round"
                                    href="#"><span class="icon fa fa-google-plus"></span><span>Google+</span></a><a
                                    class="button button-twitter button-icon button-icon-left button-round"
                                    href="#"><span class="icon fa fa-twitter"></span><span>Twitter</span></a><a
                                    class="button button-facebook button-icon button-icon-left button-round"
                                    href="#"><span class="icon fa fa-facebook"></span><span>Facebook</span></a></div>
                    </div>
                    <div class="card-form card-form-register">
                        <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact"
                              method="post"
                              action="http://livedemo00.template-help.com/wt_63853/soccer/bat/rd-mailform.php"
                              novalidate="novalidate">
                            <div class="form-wrap has-error">
                                <label class="form-label rd-input-label" for="form-register-email">E-mail</label>
                                <input class="form-input form-control-has-validation form-control-last-child"
                                       id="form-register-email" type="email" name="email"
                                       data-constraints="@Email @Required"><span class="form-validation">The text field is required.</span>
                            </div>
                            <div class="form-wrap has-error">
                                <label class="form-label rd-input-label" for="form-login-name-2">Login</label>
                                <input class="form-input form-control-has-validation form-control-last-child"
                                       id="form-login-name-2" type="text" name="form-input"
                                       data-constraints="@Required"><span class="form-validation">The text field is required.</span>
                            </div>
                            <div class="form-wrap has-error">
                                <label class="form-label rd-input-label" for="form-login-password-2">Password</label>
                                <input class="form-input form-control-has-validation form-control-last-child"
                                       id="form-login-password-2" type="password" name="password"
                                       data-constraints="@Required"><span class="form-validation">The text field is required.</span>
                            </div>
                            <div class="form-wrap has-error">
                                <label class="form-label rd-input-label" for="form-login-password-3">Repeat
                                    Password</label>
                                <input class="form-input form-control-has-validation form-control-last-child"
                                       id="form-login-password-3" type="password" name="password"
                                       data-constraints="@Required"><span class="form-validation">The text field is required.</span>
                            </div>
                            <button class="button button-lg button-primary button-block" type="submit">Create new
                                account
                            </button>
                        </form>
                        <div class="group-sm group-sm-justify group-middle"><a
                                    class="button button-google button-icon button-icon-left button-round"
                                    href="#"><span class="icon fa fa-google-plus"></span><span>Google+</span></a><a
                                    class="button button-twitter button-icon button-icon-left button-round"
                                    href="#"><span class="icon fa fa-twitter"></span><span>Twitter</span></a><a
                                    class="button button-facebook button-icon button-icon-left button-round"
                                    href="#"><span class="icon fa fa-facebook"></span><span>Facebook</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>