<li>
    <a>
        <span class="image">
            <img src="{{ assets('/assets/images/img.jpg') }}" alt="img">
        </span>
        <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
        </span>
        <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
        </span>
    </a>
</li>