<div class="swiper-slide" data-slide-bg="{{ asset('assets/images/landing-soccer-slider-1-slide-1-1920x671.jpg') }}">
    <div class="container">
        <div class="swiper-slide-caption">
            <h1 data-caption-animate="fadeInUp" data-caption-delay="100">We play <br> Soccer</h1>
            <h4 data-caption-animate="fadeInUp" data-caption-delay="200">like no one else in the united
                states</h4><a class="button button-gray-outline" data-caption-animate="fadeInUp"
                              data-caption-delay="300" href="about-us.html">Read More</a>
        </div>
    </div>
</div>