<div class="block-aside-item">
    <!-- Heading Component-->
    <article class="heading-component">
        <div class="heading-component-inner">
            <h5 class="heading-component-title">Trending News
            </h5>
        </div>
    </article>

    <div class="tabs-custom tabs-horizontal tabs-modern" id="tabs-modern">
        <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-modern-1" data-toggle="tab">New</a>
            </li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-modern-2" data-toggle="tab">Trending</a>
            </li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-modern-3"
                                                        data-toggle="tab">Popular</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tabs-modern-1">
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-5-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Alvaro Morata proving his worth at
                                Chelsea</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-6-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Are Bournemouth in trouble this
                                season?</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-7-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">The Reds’ Convincing Win At Anfield
                                Road</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-8-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Premier League Preview Part 3: Survival
                                Battle</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tab-pane fade" id="tabs-modern-2">
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-2-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">How Dylan Bundy won: He welcomed back
                                friend</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-3-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Trumbo's 11th-inning homer lifts
                                Orioles</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-4-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Predictions: Will the Orioles make
                                playoffs?</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tab-pane fade" id="tabs-modern-3">
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-1-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Bundy stymies Blue Jays and Orioles hit 2
                                HRs</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img
                                    src="images/blog-element-4-94x94.jpg" alt="" width="94" height="94"></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Predictions: Will the Orioles make
                                playoffs?</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017
                                <!-- Tabs Modern with Post Classic-->
                            </time>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>