<div class="col-lg-7">
    <h5>Popular News</h5>
    <div class="divider-small divider-secondary"></div>
    <div class="row row-20">
        <div class="col-sm-6">
            <!-- Post Classic-->
            <article class="post-classic">
                <div class="post-classic-aside"><a class="post-classic-figure"
                                                   href="blog-post.html"><img
                                src="{{ asset('assets/images/footer-soccer-post-1-93x87.jpg') }}" alt=""
                                width="93"
                                height="87"/></a></div>
                <div class="post-classic-main">
                    <!-- Badge-->
                    <div class="badge badge-secondary">The Team
                    </div>
                    <p class="post-classic-title"><a href="blog-post.html">Bundy stymies Blue Jays
                            and Orioles hit 2 HRs</a></p>
                    <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                        <time datetime="2017">April 15, 2017</time>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-sm-6">
            <!-- Post Classic-->
            <article class="post-classic">
                <div class="post-classic-aside"><a class="post-classic-figure"
                                                   href="blog-post.html"><img
                                src="{{ asset('assets/images/footer-soccer-post-2-93x87.jpg') }}" alt=""
                                width="93"
                                height="87"/></a></div>
                <div class="post-classic-main">
                    <!-- Badge-->
                    <div class="badge badge-red">Hot<span
                                class="icon material-icons-whatshot"></span>
                    </div>
                    <p class="post-classic-title"><a href="blog-post.html">Good vibes back at
                            struggling Schalke</a></p>
                    <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                        <time datetime="2017">April 15, 2017</time>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-sm-6">
            <!-- Post Classic-->
            <article class="post-classic">
                <div class="post-classic-aside"><a class="post-classic-figure"
                                                   href="blog-post.html"><img
                                src="{{ asset('assets/images/footer-soccer-post-3-93x87.jpg') }}" alt=""
                                width="93"
                                height="87"/></a></div>
                <div class="post-classic-main">
                    <!-- Badge-->
                    <div class="badge badge-primary">The League
                    </div>
                    <p class="post-classic-title"><a href="blog-post.html">Prem in 90 seconds:
                            Chelsea's crisis is over!</a></p>
                    <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                        <time datetime="2017">April 15, 2017</time>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-sm-6">
            <!-- Post Classic-->
            <article class="post-classic">
                <div class="post-classic-aside"><a class="post-classic-figure"
                                                   href="blog-post.html"><img
                                src="{{ asset('assets/images/footer-soccer-post-4-93x87.jpg') }}" alt=""
                                width="93"
                                height="87"/></a></div>
                <div class="post-classic-main">
                    <!-- Badge-->
                    <div class="badge badge-primary">The League
                    </div>
                    <p class="post-classic-title"><a href="blog-post.html">Liverpool in desperate
                            need of backup players</a></p>
                    <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                        <time datetime="2017">April 15, 2017</time>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>