{% extends "@FOSUser/layout.html.twig" %}
{% block title %}Change Password{% endblock %}

{% block body %}
    <!-- Section Breadcrumbs-->
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Change password' } %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
            <li><a class="active">Change Password</a></li>
        {% endblock %}
    {% endembed %}
    {% block fos_user_content %}
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}