{% extends 'FrontBundle:common:_base.html.twig' %}

{% block title %}Group List{% endblock %}
{% block header_team %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Group List'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">Group</a></li>
            <li class="active">List</li>
        {% endblock %}
    {% endembed %}
    {% for g in groups %}
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->
                            {% embed  'FrontBundle:other-component:_heading-component-title.html.twig' with { 'heading_title' : 'Group List' } %}
                            {% endembed %}
                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">

                                    </div>
                                    </table>

                                </div>
                                </div>

                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">

                                        <a href="{{ path('team_display',{'id': g.team1.id}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/RussieFlag.png') }}" alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">{{ g.team1.teamName }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>


                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {% endfor %}
{% endblock %}