{#<div class="block-player-info-timeline">#}
<div class="player-info-timeline-item">
    <div class="player-info-timeline-item-header"><span class="timeline-counter">{% block start%}{% endblock %}</span>
        <h5>{% block clubName%}{% endblock %}</h5>
    </div>
    <div class="player-info-timeline-item-text">
            <div class="player-info-table">
            <div class="table-custom-wrap">
                <table class="table-custom">
                    <tr>
                        <th>Match Player</th>
                        <th>{% block mp%}{% endblock %}</th>
                        <th>Goal Scored</th>
                        <th>{% block gs%}{% endblock %}</th>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
    </div>
</div>
{#</div>#}