<article class="progress-linear progress-bar-modern animated-first">
    <div class="progress-header">
        <p>{% block skillLabel%}{% endblock %}</p>
    </div>
    <div class="progress-bar-linear-wrap">
        <div class="progress-bar-linear" style="width: 95%;"></div>
    </div>
    <span class="progress-value">{% block skillValue%}{% endblock %}</span>
</article>