<div class="player-info-corporate">
    <div class="player-info-figure">
        <div class="block-number"><span>11</span></div>
        <div class="player-img"><img src="{{ asset(playerImage~"") }}" alt="" width="368"
                                     height="300">
        </div>
        <div class="team-logo-img"><img src="{{ asset(teamImage~"") }}" alt="" width="313"
                                        height="313">
        </div>
    </div>
    <div class="player-info-main">
        <h4 class="player-info-title">{% block playerName%}{% endblock %}</h4>
        <p class="player-info-subtitle">{% block playerPos%}{% endblock %}</p>
        <hr>
        <div class="player-info-table">
            <div class="table-custom-wrap">
                <table class="table-custom">
                    <tbody>
                    <tr>
                        <th>Height</th>
                        <th>{% block playerHeight%}{% endblock %}</th>
                        <th>Weight</th>
                        <th>{% block playerWeight%}{% endblock %}</th>
                    </tr>
                    <tr>
                        <td>Total Games</td>
                        <td>{% block playerTg%}{% endblock %}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="player-info-progress">
            {% block skills%}{% endblock %}
        </div>
    </div>
</div>