{# IT MUST HAVE BLOCK VOTING#}

<div class="player-voting-item">
    <div class="player-voting-item-figure"><img src="{{ asset('/asstes/images/player-4-152x144.jpg') }}" alt=""
                                                width="152" height="144">
        <div class="player-number">
            <p>21</p>
        </div>
    </div>
    <div class="player-voting-item-title">
        <p>Joe Montana</p>
    </div>
    <div class="player-voting-item-progress">
        <!-- Linear progress bar-->
        <article class="progress-linear progress-bar-modern animated-first">
            <div class="progress-header">
                <p>Pass Acc</p>
            </div>
            <div class="progress-bar-linear-wrap">
                <div class="progress-bar-linear" style="width: 95%;"></div>
            </div>
            <span class="progress-value">95</span>
        </article>
        <!-- Linear progress bar-->
        <article class="progress-linear progress-bar-modern animated-first">
            <div class="progress-header">
                <p>Shots Acc</p>
            </div>
            <div class="progress-bar-linear-wrap">
                <div class="progress-bar-linear" style="width: 70%;"></div>
            </div>
            <span class="progress-value">70</span>
        </article>
    </div>
    <button class="button button-block button-primary button-icon button-icon-left" type="button"><span
                class="icon material-icons-thumb_up"></span><span>854 votes</span></button>
</div>