<div class="player-info-minimal">
    <div class="player-info-minimal-figure"><img src="{{ asset('/asstes/images/player-3-229x268.png') }}" alt=""
                                                 width="229" height="268">
    </div>
    <div class="player-info-minimal-number">
        <p>21</p>
    </div>
    <div class="player-info-minimal-content">
        <div class="player-info-minimal-title">
            <h3>Jack<span>Windsor</span></h3>
        </div>
        <div class="player-info-minimal-progress">
            <!-- Linear progress bar-->
            <article class="progress-linear progress-bar-modern animated-first">
                <div class="progress-header">
                    <p>Pass Acc</p><span class="progress-value">87</span>
                </div>
                <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" style="width: 87%;"></div>
                </div>
            </article>
            <!-- Linear progress bar-->
            <article class="progress-linear progress-bar-modern animated-first">
                <div class="progress-header">
                    <p>Shots Acc</p><span class="progress-value">93</span>
                </div>
                <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" style="width: 93%;"></div>
                </div>
            </article>
        </div>
    </div>
</div>