{#<div class="block-player-info-timeline">#}
<div class="player-info-timeline-item">
    <div class="player-info-timeline-item-header"><span class="timeline-counter">2005</span>
        <h5>Career Start</h5>
    </div>
    <div class="player-info-timeline-item-text">
        <p>His breakthrough came in the 2005-06 season, starting with an amazing performance in the Joan Gamper Trophy
            match against Juventus. He was also outstanding at the Santiago Bernabéu, in Barcelona's unforgettable 3-0
            win, and also at Stamford Bridge, in the Champions League match.</p>
    </div>
</div>
{#</div>#}