<div class="player-info-corporate">
    <div class="player-info-figure">
        <div class="block-number"><span>11</span></div>
        <div class="player-img"><img src="{{ asset(playerImage~"") }}" alt="" width="368"
                                     height="300">
        </div>
        <div class="team-logo-img"><img src="{{ asset(teamImage~"") }}" alt="" width="313"
                                        height="313">
        </div>
    </div>
    <div class="player-info-main">
        <h4 class="player-info-title">{% block playerName%}{% endblock %}</h4>
        <p class="player-info-subtitle">{% block playerPos%}{% endblock %}</p>
        <hr>
        <div class="player-info-table">
            <div class="table-custom-wrap">
                <table class="table-custom">
                    <tbody>
                    <tr>
                        <th>Goals</th>
                        <th>{% block playerGoals%}{% endblock %}</th>
                        <th>Assists</th>
                        <th>{% block playerAssists%}{% endblock %}</th>
                    </tr>
                    <tr>
                        <td>Shots </td>
                        <td>{% block playerShot%}{% endblock %}</td>
                        <td>Shots on Target</td>
                        <td>{% block playerSot%}{% endblock %}</td>
                    </tr>
                    <tr>
                        <td>playerPos</td>
                        <td>{% block yellowCard%}{% endblock %}</td>
                    </tr>
                    <tr>
                        <td>playerPos</td>
                        <td>{% block redCard%}{% endblock %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="player-info-progress">
            {% block skills%}{% endblock %}
        </div>
    </div>
</div>