<article class="progress-linear progress-bar-modern">
    <div class="progress-header">
        <p>{% block skill_name %} {% endblock %}</p>
    </div>
    <div class="progress-bar-linear-wrap">
        <div class="progress-bar-linear"></div>
    </div>
    <span class="progress-value">{% block skill_progress %} {% endblock %}</span>
</article>