<tr>
    <td>
        <div class="product-cart-name">
            <p class="product-cart-title"><a href="#">{{ match.team1.name }}</a></p>
        </div>
    </td>
    <td>
        <div class="product-cart-name">
            <p class="product-cart-title">VS</p>
        </div>
    </td>
    <td>
        <div class="product-cart-name">
            <p class="product-cart-title"><a href="#">{{ match.team2.name }}</a></p>
        </div>
    </td>
    <td>
        <div class="product-cart-price"><span>${{ item.ticket.price }}</span></div>
    </td>
</tr>