<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row row-50">
            <div class="col-md-12 col-lg-12 order-lg-12">
                <div class="row row-30 row-lg-20 row-offset-1 justify-content-sm-center justify-content-md-start justify-content-lg-center">
                    {% for place in  places %}
                        <div class="col-sm-10 col-md-6 col-xl-12">
                            {% embed '@Guide/guide/place-component.html.twig'
                            with {url: path('place_show', {'id': place.id})} %}

                                {% block image %}{{ place.previewPicture }}{% endblock %}
                                {% block name %}
                                    {{ place.name }}
                                {% endblock %}
                                {% block description %}
                                    {{ place.previewText|truncate(100)|raw }} ...
                                {% endblock %}
                            {% endembed %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>