<div class="post-comment post-comment-parent">
    <div class="post-comment-aside"><img class="img-circle" src="{{ asset('assets/images/user-4-69x69.jpg') }}" alt=""
                                         width="69"
                                         height="69"/>
    </div>
    <div class="post-comment-main">
        <div class="post-comment-header">
            <h5 class="author-name">Linda Peterson</h5>
            <time class="post-comment-time" datetime="2017">2 days ago
            </time>
        </div>
        <div class="post-comment-text">
            <p>Thanks for the post! All you described looks odd, to be honest. However, it’s a fair play to Liverpool
                for keeping him. But £82m upfront + add ons is a lot of money for a player, who while clearly being
                talented goes missing in one game too many. Pretty much any list of the world's top 40-50 players
                wouldn't feature Coutinho. And for Liverpool to demand £100m for him is a bit odd. Soccer is really
                unpredictable if you ask me.</p>
        </div>
        <div class="post-comment-footer">
            <div class="comment-like"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></div>
            <div class="comment-reply"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></div>
        </div>
    </div>
</div>