<div class="comment-modern">
    <svg version="1.1" x="0px" y="0px" width="6.888px" height="4.68px" viewbox="0 0 6.888 4.68"
         enable-background="new 0 0 6.888 4.68" xml:space="preserve">
                                <path fill="#171617"
                                      d="M1.584,0h1.8L2.112,4.68H0L1.584,0z M5.112,0h1.776L5.64,4.68H3.528L5.112,0z"></path>
                              </svg>
    <p class="comment-modern-title"><a href="blog-post.html"><span class="text-primary">Williams-Goss</span>
            Signed a two-year contract with the Serbian club KK Partizan</a></p>
    <time class="comment-modern-time" datetime="2017"><span
                class="icon mdi mdi-clock icon-primary"></span>April 15, 2017
    </time>
</div>