<article class="post-modern">
    <div class="post-modern-aside">
        <p class="post-modern-date">25</p>
        <p class="post-modern-month">April</p>
    </div>
    <div class="post-modern-main">
        <!-- Badge-->
        {#badge-secondary , badge-red#}
        <div class="badge badge-blue">Tournament
            <span class="icon mdi mdi-fire"></span></div>
        <p class="post-classic-title"><a href="blog-post.html">Kante IS named Premier League
                Player of the Year</a></p>
    </div>
</article>