<article class="post-carmen"><img src="{{ asset('assets/images/news-5-1-369x343.jpg') }}" alt="" width="369"
                                  height="343"/>
    <div class="post-carmen-header">
        <!-- Badge-->
        <div class="badge badge-secondary">The Team
        </div>
    </div>
    <div class="post-carmen-main">
        <h4 class="post-carmen-title"><a href="blog-post.html">The Florida Gators mascot
                shielded a kid from a foul ball</a></h4>
        <div class="post-carmen-meta">
            <div class="post-carmen-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
            <div class="post-carmen-comment"><span
                        class="icon mdi mdi-comment-outline"></span><a href="#">345</a></div>
            <div class="post-carmen-view"><span class="icon fl-justicons-visible6"></span>234
            </div>
        </div>
    </div>
</article>