<article class="post-creative">
    <div class="post-creative-content">
        <div class="post-creative-header">
            <!-- Badge-->
            <div class="badge badge-primary">The League
            </div>
            <time class="post-creative-time" datetime="2017">April 15, 2017</time>
            <div class="post-creative-view"><span class="icon fl-justicons-visible6"></span>234
            </div>
        </div>
        <h4 class="post-creative-title"><a href="blog-post.html">On anniversary of 8-2 loss
                to Man United, nothing has changed at Arsenal</a></h4>
    </div>
    <a class="post-creative-figure" href="blog-post.html"><img
                src="./images/news-4-1-370x279.jpg" alt="" width="370" height="279"/></a>
    <div class="post-creative-footer">
        <div class="post-creative-comment"><span
                    class="icon mdi mdi-comment-outline"></span><a href="#">345 Comments</a>
        </div>
        <div class="post-creative-share">
            <div class="inline-toggle-parent"><span
                        class="post-creative-share-text">Share</span>
                <div class="inline-toggle icon material-icons-share"></div>
                <div class="inline-toggle-element">
                    <ul class="list">
                        <li><a class="icon fa-facebook" href="#"></a></li>
                        <li><a class="icon fa-twitter" href="#"></a></li>
                        <li><a class="icon fa-google-plus" href="#"></a></li>
                        <li><a class="icon fa-instagram" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>