<article class="post-future post-future-horizontal"><a class="post-future-figure"
                                                       href="blog-post.html"><img
                src="{{ asset('assets/images/news-3-1-370x325.jpg') }}" alt="" width="370" height="325"/></a>
    <div class="post-future-main">
        <h4 class="post-future-title"><a href="blog-post.html">Zidane: “We’re not going to change
                the way we play at the Calderón”</a></h4>
        <div class="post-future-meta">
            <!-- Badge-->
            <div class="badge badge-red">hot<span class="icon mdi mdi-fire"></span>
            </div>
            <div class="post-future-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
        </div>
        <hr/>
        <div class="post-future-text">
            <p>Back when I played football in high school, I took a fair number of hits that had me
                seeing stars. But my coach would just tell me to shake it…</p>
        </div>
    </div>
</article>