<article class="post-creative post-creative-compact">
    <div class="post-creative-content">
        <div class="post-creative-header">
            <!-- Badge-->
            <div class="badge badge-secondary">The Team
            </div>
            <time class="post-creative-time" datetime="2017">April 15, 2017</time>
            <div class="post-creative-view"><span class="icon fl-justicons-visible6"></span>234
            </div>
        </div>
        <h4 class="post-creative-title"><a href="blog-post.html">Round 2 predictions:
                Experts' picks for the conference semifinals</a></h4>
    </div>
    <div class="post-creative-footer">
        <div class="post-creative-comment"><span
                    class="icon mdi mdi-comment-outline"></span><a href="#">345 Comments</a>
        </div>
        <div class="post-creative-share">
            <div class="inline-toggle-parent"><span
                        class="post-creative-share-text">Share</span>
                <div class="inline-toggle icon material-icons-share"></div>
                <div class="inline-toggle-element">
                    <ul class="list">
                        <li><a class="icon fa-facebook" href="#"></a></li>
                        <li><a class="icon fa-twitter" href="#"></a></li>
                        <li><a class="icon fa-google-plus" href="#"></a></li>
                        <li><a class="icon fa-instagram" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>