<div class="swiper-container swiper-slider post-slider" data-loop="false" data-autoplay="false"
     data-simulate-touch="false">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-slide-caption">
                <!-- Post Alice-->
                <article class="post-alice"><img src="./images/post-slide-1-769x397.jpg" alt=""
                                                 width="769" height="397"/>
                    <div class="post-alice-main">
                        <!-- Badge-->
                        <div class="badge badge-primary">The League
                        </div>
                        <h3 class="post-alice-title"><a href="blog-post.html">rumors about world
                                soccer championship 2017</a></h3>
                        <div class="divider"></div>
                        <div class="post-alice-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017</time>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-caption">
                <!-- Post Alice-->
                <article class="post-alice"><img src="./images/post-slide-2-769x397.jpg" alt=""
                                                 width="769" height="397"/>
                    <div class="post-alice-main">
                        <!-- Badge-->
                        <div class="badge badge-primary">The League
                        </div>
                        <h3 class="post-alice-title"><a href="blog-post.html">rumors about world
                                soccer championship 2017</a></h3>
                        <div class="divider"></div>
                        <div class="post-alice-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017</time>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-caption">
                <!-- Post Alice-->
                <article class="post-alice"><img src="./images/post-slide-3-769x397.jpg" alt=""
                                                 width="769" height="397"/>
                    <div class="post-alice-main">
                        <!-- Post Video Button--><a class="post-video-button" href="#modal1"
                                                    data-toggle="modal"><span
                                    class="icon material-icons-play_arrow"></span></a>
                        <h3 class="post-alice-title"><a href="blog-post.html">Final europa league
                                2017</a></h3>
                        <div class="divider"></div>
                        <div class="post-alice-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017</time>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>