<article class="post-gloria"><img src="./images/post-gloria-1-769x429.jpg" alt="" width="769"
                                  height="429"/>
    <div class="post-gloria-main">
        <h3 class="post-gloria-title"><a href="blog-post.html">Premier League Winners and Losers: a
                quick look</a></h3>
        <div class="post-gloria-meta">
            <!-- Badge-->
            <div class="badge badge-primary">The League
            </div>
            <div class="post-gloria-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
        </div>
        <div class="post-gloria-text">
            <svg version="1.1" x="0px" y="0px" width="6.888px" height="4.68px" viewbox="0 0 6.888 4.68"
                 enable-background="new 0 0 6.888 4.68" xml:space="preserve">
                      <path d="M1.584,0h1.8L2.112,4.68H0L1.584,0z M5.112,0h1.776L5.64,4.68H3.528L5.112,0z"></path>
                    </svg>
            <p>During this year’s premier league, we are glad to announce that there are new players
                who are...</p>
        </div>
        <a class="button" href="blog-post.html">Read more</a>
    </div>
</article>