<article class="post-veronica"><a class="post-veronica-figure" href="blog-post.html"><img
                src="./images/post-baseball-1-370x239.jpg" alt="" width="370" height="239"/>
        <!-- Badge-->
        <div class="badge badge-primary">The League
        </div>
    </a>
    <div class="post-veronica-main">
        <h4 class="post-veronica-title"><a href="blog-post.html">The Reds’ Convincing Win At
                Anfield Road</a></h4>
        <div class="post-veronica-text">
        </div>
        <div class="post-veronica-meta">
            <div class="post-veronica-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
            <div class="post-veronica-comment"><span
                        class="icon mdi mdi-comment-outline"></span><a href="#">345</a></div>
            <div class="post-veronica-view"><span class="icon fl-justicons-visible6"></span>234
            </div>
        </div>
    </div>
</article>