<article class="post-future"><a class="post-future-figure" href="blog-post.html"><img
                src="{{ asset('assets/images/news-2-1-368x287.jpg') }}" alt="" width="368" height="287"/></a>
    <div class="post-future-main">
        <h4 class="post-future-title"><a href="blog-post.html">Head of the Referees
                Association Says Players Yelling at </a></h4>
        <div class="post-future-meta">
            <!-- Badge-->
            <div class="badge badge-secondary">The Team
            </div>
            <div class="post-future-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
        </div>
        <hr/>
        <div class="post-future-text">
            <p>Liverpool would love to welcome Philippe Coutinho back, but Sadio Mane is
                carrying...</p>
        </div>
        <div class="post-future-footer group-flex group-flex-xs"><a
                    class="button button-gray-outline" href="blog-post.html">Read more</a>
            <div class="post-future-share">
                <div class="inline-toggle-parent">
                    <div class="inline-toggle icon material-icons-share"></div>
                    <div class="inline-toggle-element">
                        <ul class="list-inline">
                            <li>Share</li>
                            <li><a class="icon fa-facebook" href="#"></a></li>
                            <li><a class="icon fa-twitter" href="#"></a></li>
                            <li><a class="icon fa-google-plus" href="#"></a></li>
                            <li><a class="icon fa-instagram" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>