<div class="player-info-modern"><a class="player-info-modern-figure"
                                   href="player-page.html"><img
                src="{{ asset('assets/images/player-1-368x286.png') }}" alt="" width="368"
                height="286"/></a>
    <div class="player-info-modern-footer">
        <div class="player-info-modern-number">
            <p>05</p>
        </div>
        <div class="player-info-modern-content">
            <div class="player-info-modern-title">
                <h5><a href="player-page.html">Jack Windsor</a></h5>
                <p>Midfielder</p>
            </div>
            <div class="player-info-modern-progress">
                <!-- Linear progress bar-->
                <article class="progress-linear progress-bar-modern">
                    <div class="progress-header">
                        <p>Pass Acc</p>
                    </div>
                    <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"></div>
                    </div>
                    <span class="progress-value">80</span>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear progress-bar-modern">
                    <div class="progress-header">
                        <p>Shots Acc</p>
                    </div>
                    <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"></div>
                    </div>
                    <span class="progress-value">60</span>
                </article>
            </div>
        </div>
    </div>
</div>