<article class="post-classic">
    <div class="post-classic-aside">
        <a class="post-classic-figure" href="{{ path('homepage') }}">
            <img src="{{ asset('assets/images/blog-element-1-94x94.jpg') }}" alt=""/>
        </a>
    </div>
    <div class="post-classic-main">
        <p class="post-classic-title">
            <a href="{{ path('homepage') }}">{% block title %}{% endblock %}</a>
        </p>
        <div class="post-classic-time">
            <span class="icon mdi mdi-clock"></span>
        </div>
    </div>
</article>