<article class="post-classic">
    <div class="post-classic-aside">
        <a class="post-classic-figure" href="blog-post.html">
            <img src="{{ asset('assets/images/blog-element-1-94x94.jpg') }}" alt=""/>
        </a>
    </div>
    <div class="post-classic-main">
        <p class="post-classic-title">
            <a href="blog-post.html">Raheem Sterling turns the tide for Manchester</a>
        </p>
        <div class="post-classic-time">
            <span class="icon mdi mdi-clock"></span>
            <time datetime="2017">April 15, 2017</time>
        </div>
    </div>
</article>