{% set headingTitle = "IN THE SPOTLIGHT" %}
{% set heading = "ALL NEWS" %}
{% set link = "#" %}

<div class="aside-component">
    <!-- Heading Component-->
    {% include 'FrontBundle:news-main-component:_heading-component.html.twig'  with {'headingTitle': headingTitle , 'heading' : heading, 'headingLink' : link } %}
    <!-- List Post Classic-->
    <div class="list-post-classic">
        {% for i in 1..3 %}
            <!-- Post Classic-->
            {% include 'FrontBundle:news-main-component:_post-classic-image.html.twig' %}
        {% endfor %}
    </div>
</div>