{% set headingTitle = "Top players" %}
{% set heading = "SEE ALL TEAM" %}
{% set link = "#" %}

<div class="main-component">
    <!-- Heading Component-->
    {% include 'FrontBundle:news-main-component:_heading-component.html.twig'  with {'headingTitle': headingTitle , 'heading' : heading, 'headingLink' : link } %}

    <div class="row row-30">
        <div class="col-md-6">
            <!-- Player Info Modern-->
            {% include 'FrontBundle:news-main-component:_player-component.html.twig' %}
        </div>
        <div class="col-md-6">
            <!-- Player Info Modern-->
            <div class="player-info-modern"><a class="player-info-modern-figure"
                                               href="player-page.html"><img
                            src="{{ asset('assets/images/player-2-368x286.png') }}" alt="" width="368"
                            height="286"/></a>
                <div class="player-info-modern-footer">
                    <div class="player-info-modern-number">
                        <p>21</p>
                    </div>
                    <div class="player-info-modern-content">
                        <div class="player-info-modern-title">
                            <h5><a href="player-page.html">Joe Perkins</a></h5>
                            <p>Midfielder</p>
                        </div>
                        <div class="player-info-modern-progress">
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-bar-modern">
                                <div class="progress-header">
                                    <p>Pass Acc</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear"></div>
                                </div>
                                <span class="progress-value">95</span>
                            </article>
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-bar-modern">
                                <div class="progress-header">
                                    <p>Shots Acc</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear"></div>
                                </div>
                                <span class="progress-value">70</span>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Player Info Modern-->
            <div class="player-info-modern"><a class="player-info-modern-figure"
                                               href="player-page.html"><img
                            src="{{ asset('assets/images/player-3-368x286.png') }}" alt="" width="368"
                            height="286"/></a>
                <div class="player-info-modern-footer">
                    <div class="player-info-modern-number">
                        <p>21</p>
                    </div>
                    <div class="player-info-modern-content">
                        <div class="player-info-modern-title">
                            <h5><a href="player-page.html">David Hawkins</a></h5>
                            <p>Defender</p>
                        </div>
                        <div class="player-info-modern-progress">
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-bar-modern">
                                <div class="progress-header">
                                    <p>Pass Acc</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear"></div>
                                </div>
                                <span class="progress-value">90</span>
                            </article>
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-bar-modern">
                                <div class="progress-header">
                                    <p>Shots Acc</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear"></div>
                                </div>
                                <span class="progress-value">75</span>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Player Info Modern-->
            <div class="player-info-modern"><a class="player-info-modern-figure"
                                               href="player-page.html"><img
                            src="{{ asset('assets/images/player-4-368x286.png') }}" alt="" width="368"
                            height="286"/></a>
                <div class="player-info-modern-footer">
                    <div class="player-info-modern-number">
                        <p>21</p>
                    </div>
                    <div class="player-info-modern-content">
                        <div class="player-info-modern-title">
                            <h5><a href="player-page.html">Harry Stevenson</a></h5>
                            <p>Goalkeeper</p>
                        </div>
                        <div class="player-info-modern-progress">
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-bar-modern">
                                <div class="progress-header">
                                    <p>Pass Acc</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear"></div>
                                </div>
                                <span class="progress-value">55</span>
                            </article>
                            <!-- Linear progress bar-->
                            <article class="progress-linear progress-bar-modern">
                                <div class="progress-header">
                                    <p>Shots Acc</p>
                                </div>
                                <div class="progress-bar-linear-wrap">
                                    <div class="progress-bar-linear"></div>
                                </div>
                                <span class="progress-value">95</span>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>