<div class="rd-navbar-main-element">
    <ul class="list-inline list-inline-sm">
        <li><a class="icon icon-xs icon-light fa fa-facebook" href="#"></a></li>
        <li><a class="icon icon-xs icon-light fa fa-twitter" href="#"></a></li>
        <li><a class="icon icon-xs icon-light fa fa-google-plus" href="#"></a></li>
        <li><a class="icon icon-xs icon-light fa fa-instagram" href="#"></a></li>
    </ul>
</div>