<div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
    <!-- Owl Carousel-->
    <div class="owl-carousel-navbar owl-carousel-inline-outer">
        <div class="owl-inline-nav">
            <button class="owl-arrow owl-arrow-prev"></button>
            <button class="owl-arrow owl-arrow-next"></button>
        </div>
        <div class="owl-carousel-inline-wrap">
            <div class="owl-carousel owl-carousel-inline" data-items="1" data-dots="false"
                 data-nav="true" data-stage-padding="0" data-loop="true" data-margin="10"
                 data-mouse-drag="false" data-touch-drag="false"
                 data-nav-custom=".owl-carousel-navbar">
                <!-- Post Inline-->
                <article class="post-inline">
                    <time class="post-inline-time" datetime="2017">April 15, 2017</time>
                    <p class="post-inline-title">Atletico vs Celta Vigo</p>
                </article>
                <!-- Post Inline-->
                <article class="post-inline">
                    <time class="post-inline-time" datetime="2017">April 15, 2017</time>
                    <p class="post-inline-title">Atletico vs Dream Team</p>
                </article>
                <!-- Post Inline-->
                <article class="post-inline">
                    <time class="post-inline-time" datetime="2017">April 15, 2017</time>
                    <p class="post-inline-title">Atletico vs Real Madrid</p>
                </article>
            </div>
        </div>
    </div>
</div>