<div class="rd-navbar-main-top">
    <div class="rd-navbar-main-container container">
        <!-- RD Navbar Brand-->
        <div class="rd-navbar-brand"><a class="brand link-circle" href="index.html"><img class="brand-logo "
                                                                                         src="{{ asset('assets/images/logo-soccer-default-129x129.png') }}"
                                                                                         alt="" width="129"
                                                                                         height="129"/></a>
        </div>
        <!-- RD Navbar List-->
        <ul class="rd-navbar-list">
            <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img
                            src="{{ asset('assets/images/partners-1-inverse-75x42.png') }}" alt="" width="75"
                            height="42"/></a></li>
            <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img
                            src="{{ asset('assets/images/partners-2-inverse-78x41.png') }}" alt="" width="78"
                            height="41"/></a></li>
            <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img
                            src="{{ asset('assets/images/partners-3-inverse-65x44.png') }}" alt="" width="65"
                            height="44"/></a></li>
        </ul>
        <!-- RD Navbar Search-->
        <div class="rd-navbar-search">
            <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
            <form class="rd-search" action="http://livedemo00.template-help.com/wt_63853/soccer/search-results.html"
                  data-search-live="rd-search-results-live" method="GET">
                <div class="form-wrap">
                    <label class="form-label" for="rd-navbar-search-form-input">Enter your search request
                        here...</label>
                    <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text"
                           name="s" autocomplete="off">
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                </div>
                <button class="rd-search-form-submit fl-budicons-launch-search81" type="submit"></button>
            </form>
        </div>
    </div>
</div>