{% extends 'FrontBundle:common:_base.html.twig' %}

{% block body %}
    <section class="section section-variant-1 bg-gray-100">
        <div class="container">
            {% block fos_user_content %}{% endblock %}
        </div>
    </section>
{% endblock %}