<div class="card-shop">
    <ul class="list-md form-wrap">
        <li>
            <label class="checkbox-inline checkbox-inline-lg">
                <input name="input-checkbox-1" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>Shoes
            </label><span class="checkbox-inline-count">2</span>
        </li>
        <li>
            <label class="checkbox-inline checkbox-inline-lg">
                <input name="input-checkbox-2" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>t-shirts
            </label><span class="checkbox-inline-count">1</span>
        </li>
        <li>
            <label class="checkbox-inline checkbox-inline-lg">
                <input name="input-checkbox-3" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>BackPacks
            </label><span class="checkbox-inline-count">1</span>
        </li>
    </ul>
</div>