<div class="card-shop" style="min-height: 0; font-size: 0;">
    <ul class="list-inline list-inline-xs">
        <li>
            <label class="checkbox-inline input-filter">
                <input name="input-checkbox-4" value="checkbox-1" type="checkbox" checked="checked"
                       class="checkbox-custom"><span class="checkbox-custom-dummy"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-filter input-filter-dark">
                <input name="input-checkbox-5" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-filter input-filter-danube">
                <input name="input-checkbox-6" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-filter input-filter-froly">
                <input name="input-checkbox-7" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-filter input-filter-deco">
                <input name="input-checkbox-8" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-filter input-filter-blue">
                <input name="input-checkbox-9" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-filter input-filter-geraldine">
                <input name="input-checkbox-9" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>
            </label>
        </li>
    </ul>
</div>