<div class="product-cart">
    <div class="table-custom-responsive">
        <table class="table-custom table-product">
            <thead>
            <tr>
                <th>Product name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="product-cart-name"><a class="product-cart-media" href="product-page.html"><img
                                    src="{{ asset('/asstes/images/shop/product-cart-1.png') }}" alt=""></a>
                        <p class="product-cart-title"><a href="product-page.html">Nike Air Zoom Pegasus</a></p>
                    </div>
                </td>
                <td>
                    <div class="product-cart-color product-cart-color-red"></div>
                </td>
                <td>
                    <div class="product-cart-size"><span>M</span></div>
                </td>
                <td>
                    <div class="stepper-modern">
                        <div class="stepper "><input class="form-input stepper-input" type="number" data-zeros="true"
                                                     value="1" min="1" max="100"><span
                                    class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                    </div>
                </td>
                <td>
                    <div class="product-cart-price"><span>$290</span></div>
                </td>
                <td>
                    <div class="product-cart-delete"><span class="icon fl-bigmug-line-recycling10"></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-cart-name"><a class="product-cart-media" href="product-page.html"><img
                                    src="{{ asset('/asstes/images/shop/product-cart-2.png') }}" alt=""></a>
                        <p class="product-cart-title"><a href="product-page.html">Nike dark grey snapback</a></p>
                    </div>
                </td>
                <td>
                    <div class="product-cart-color product-cart-color-dark"></div>
                </td>
                <td>
                    <div class="product-cart-size"><span>M</span></div>
                </td>
                <td>
                    <div class="stepper-modern">
                        <div class="stepper "><input class="form-input stepper-input" type="number" data-zeros="true"
                                                     value="1" min="1" max="100"><span
                                    class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                    </div>
                </td>
                <td>
                    <div class="product-cart-price"><span>$290</span></div>
                </td>
                <td>
                    <div class="product-cart-delete"><span class="icon fl-bigmug-line-recycling10"></span></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="product-cart-footer">
        <div class="product-cart-total"><span>Total</span><span class="product-cart-total-price"><span
                        class="sup">$</span><span>580</span></span></div>
        <a class="button button-lg button-primary" href="checkout.html">Proceed to Checkout</a>
    </div>
</div>