<article class="product-list">
    <div class="product-list-aside"><img src="{{ asset('/asstes/images/shop/product-1.png') }}" alt="">
        <!-- Badge-->
        <div class="badge badge-red">hot<span class="icon material-icons-whatshot"></span>
        </div>
    </div>
    <section class="product-list-main">
        <h4 class="product-list-title"><a href="product-page.html">Nike hoops elite backpack</a></h4>
        <ul class="product-list-info">
            <li>
                <ul class="product-list-rating">
                    <li><span class="material-icons-star"></span></li>
                    <li><span class="material-icons-star"></span></li>
                    <li><span class="material-icons-star"></span></li>
                    <li><span class="material-icons-star"></span></li>
                    <li><span class="material-icons-star_half"></span></li>
                </ul>
            </li>
            <li>4 customer reviews</li>
        </ul>
        <ul class="product-list-price">
            <li><span class="product-list-price-new heading-4">$290</span></li>
        </ul>
        <div class="product-list-text">
            <p>The Nike Hoops Elite Backpack is designed with an innovative zip system so you can access your gear from
                any angle.</p>
        </div>
        <ul class="product-list-buttons">
            <li><a class="button button-primary" href="shopping-cart.html"><span>Add to cart</span></a></li>
            <li>
                <div class="product-list-share focus-toggle-parent"><span
                            class="product-list-share-btn focus-toggle fl-bigmug-line-share27"></span>
                    <ul>
                        <li><span>Share</span></li>
                        <li><a class="icon icon-xs fa fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-xs fa fa-instagram" href="#"></a></li>
                        <li><a class="icon icon-xs fa fa-twitter" href="#"></a></li>
                        <li><a class="icon icon-xs fa fa-google-plus" href="#"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
</article>