<article class="product-single">
    <div class="product-single-figure">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-loaded owl-drag" data-items="1" data-start-position="1" data-autoplay="true"
             data-autoplay-hover-pause="true" data-autoplay-speed="800" data-drag-end-speed="800" data-dots="true"
             data-loop="true" data-dots-speed="800" data-stage-padding="0" data-margin="0" data-mouse-drag="true">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-958px, 0px, 0px); transition: 0s; width: 3353px;">
                    <div class="owl-item cloned" style="width: 479px;"><img src="./images/shop/product-single-2.png"
                                                                            alt=""></div>
                    <div class="owl-item cloned" style="width: 479px;"><img src="./images/shop/product-single-3.png"
                                                                            alt=""></div>
                    <div class="owl-item active" style="width: 479px;"><img src="./images/shop/product-single-1.png"
                                                                            alt=""></div>
                    <div class="owl-item" style="width: 479px;"><img src="./images/shop/product-single-2.png" alt="">
                    </div>
                    <div class="owl-item" style="width: 479px;"><img src="./images/shop/product-single-3.png" alt="">
                    </div>
                    <div class="owl-item cloned" style="width: 479px;"><img src="./images/shop/product-single-1.png"
                                                                            alt=""></div>
                    <div class="owl-item cloned" style="width: 479px;"><img src="./images/shop/product-single-2.png"
                                                                            alt=""></div>
                </div>
            </div>
            <div class="owl-nav disabled">
                <div class="owl-prev"></div>
                <div class="owl-next"></div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
            </div>
        </div>
    </div>
    <div class="product-single-main">
        <div class="product-single-title heading-4">Nike Air Zoom Pegasus</div>
        <div class="product-single-meta">
            <ul class="list-inline list-inline-xs">
                <li>
                    <ul class="list-inline">
                        <li class="product-single-price-new heading-4"><span>$290</span></li>
                        <li class="product-single-price-old"><span>$400</span></li>
                    </ul>
                </li>
                <li>
                    <ul class="product-single-rating">
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star_half"></span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="product-single-text">
            <p>Built for beginners and experienced runners, the Nike Air Zoom Pegasus Running Shoe features an updated,
                lighter Flymesh material that helps reduce heat buildup when you run. The tried and true support runners
                have come to love remains.</p>
        </div>
        <ul class="product-single-info">
            <li>
                <ul class="list-inline list-inline-middle">
                    <li><span class="product-radio-title">Size</span></li>
                    <li>
                        <ul class="list-inline list-inline-xxs">
                            <li>
                                <label class="radio-inline input-refilter">
                                    <input name="input-radio-size" value="size-m" type="radio" checked=""
                                           class="radio-custom"><span class="radio-custom-dummy"></span><span>M</span>
                                </label>
                            </li>
                            <li>
                                <label class="radio-inline input-refilter">
                                    <input name="input-radio-size" value="size-l" type="radio"
                                           class="radio-custom"><span class="radio-custom-dummy"></span><span>L</span>
                                </label>
                            </li>
                            <li>
                                <label class="radio-inline input-refilter">
                                    <input name="input-radio-size" value="size-xl" type="radio"
                                           class="radio-custom"><span class="radio-custom-dummy"></span><span>XL</span>
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list-inline list-inline-middle">
                    <li><span class="product-radio-title">Color</span></li>
                    <li>
                        <ul class="list-inline list-inline-xxs">
                            <li>
                                <label class="radio-inline input-filter">
                                    <input name="input-radio-color" value="color-1" type="radio" checked=""
                                           class="radio-custom"><span class="radio-custom-dummy"></span>
                                </label>
                            </li>
                            <li>
                                <label class="radio-inline input-filter input-filter-dark">
                                    <input name="input-radio-color" value="color-2" type="radio"
                                           class="radio-custom"><span class="radio-custom-dummy"></span>
                                </label>
                            </li>
                            <li>
                                <label class="radio-inline input-filter input-filter-deco">
                                    <input name="input-radio-color" value="color-3" type="radio"
                                           class="radio-custom"><span class="radio-custom-dummy"></span>
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list-inline list-inline-middle">
                    <li><span class="product-radio-title">Quantity</span></li>
                    <li>
                        <div class="stepper-modern">
                            <div class="stepper "><input class="form-input stepper-input" type="number"
                                                         data-zeros="true" value="1" min="1" max="100"><span
                                        class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="product-list-buttons">
            <li><a class="button button-primary button-icon button-icon-left" href="shopping-cart.html"><span
                            class="icon fl-bigmug-line-shopping202"></span><span>Add to cart</span></a></li>
            <li>
                <div class="product-list-share focus-toggle-parent"><span
                            class="product-list-share-btn focus-toggle fl-bigmug-line-share27"></span>
                    <ul>
                        <li><span>Share</span></li>
                        <li><a class="icon icon-xs fa fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-xs fa fa-instagram" href="#"></a></li>
                        <li><a class="icon icon-xs fa fa-twitter" href="#"></a></li>
                        <li><a class="icon icon-xs fa fa-google-plus" href="#"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</article>