<div class="card-shop">
    <!-- RD Range-->
    <div class="rd-range-wrap">
        <div class="rd-range-form-wrap">
            <input class="rd-range-input rd-range-input-value-1" id="test" type="text" name="value-1"><span>$</span>
        </div>
        <div class="rd-range-divider"></div>
        <div class="rd-range-form-wrap">
            <input class="rd-range-input rd-range-input-value-2" type="text" name="value-2"><span>$</span>
        </div>
    </div>
    <div class="rd-range hasTooltip" data-min="0" data-max="300" data-start="[50, 250]" data-step="1"
         data-tooltip="false" data-min-diff="50" data-input=".rd-range-input-value-1"
         data-input-2=".rd-range-input-value-2">
        <div class="rd-range__wrap">
            <div class="rd-range__pointer rd-range__pointer-1" style="left: 17%;">
                <div class="rd-range__pointer-tooltip">50</div>
            </div>
            <div class="rd-range__pointer rd-range__pointer-2" style="left: 83%;">
                <div class="rd-range__pointer-tooltip">250</div>
            </div>
            <div class="rd-range__line" style="left: 17%; width: 66%;"></div>
        </div>
    </div>
</div>