<div class="card-shop" style="font-size: 0;">
    <ul class="list-inline list-inline-xs">
        <li>
            <label class="checkbox-inline input-refilter">
                <input name="input-checkbox-10" value="checkbox-1" type="checkbox" checked="checked"
                       class="checkbox-custom"><span class="checkbox-custom-dummy"></span><span>s</span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-refilter">
                <input name="input-checkbox-11" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span><span>m</span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-refilter">
                <input name="input-checkbox-12" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span><span>l</span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-refilter">
                <input name="input-checkbox-13" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span><span>xl</span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline input-refilter">
                <input name="input-checkbox-14" value="checkbox-1" type="checkbox" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span><span>xxl</span>
            </label>
        </li>
    </ul>
</div>