<div class="tabs-custom tabs-horizontal tabs-corporate product-single-additional">
    <!-- Nav tabs-->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="tab"><a class="nav-link active" href="#tabs-product-1" data-toggle="tab">shipping
                &amp; delivery</a></li>
        <li class="nav-item" role="tab"><a class="nav-link" href="#tabs-product-2" data-toggle="tab">customer
                reviews</a></li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content">
        <div class="tab-pane active show fade" id="tabs-product-1" role="tabpanel">
            <p>Here you can read some details about a nifty little lifecycle of your order's journey from the time you
                place your order to your new treasures arriving at your doorstep. At first you choose the product you
                like. Then you put into your shopping cart and pass the checkout process in a few clicks. Our store
                offers several payment and delivery methods, so you have an opportunity to choose which one is the most
                convenient for you.</p>
        </div>
        <div class="tab-pane fade" id="tabs-product-2" role="tabpanel">
            <!-- Product comment-->
            <div class="product-comment">
                <div class="product-comment-aside"><img class="img-circle" src="./images/shop/thumb-1.jpg" width="66"
                                                        height="66" alt=""></div>
                <div class="product-comment-main">
                    <div class="product-comment-main-header">
                        <div class="product-comment-title heading-5"><span>Emma peterson</span></div>
                        <div class="product-comment-time"><span>2 days ago</span></div>
                        <ul class="product-comment-rating">
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star_half"></span></li>
                        </ul>
                    </div>
                    <div class="product-comment-main-footer">
                        <p>The product you delivered me has surpassed all my expectations. The item is one of the best,
                            all-purpose items ever crafted. I love everything about my purchase. I have had a lot of
                            such kind of items in my life, so it’s easy for me to compare and write this positive
                            feedback. Reliable, secure, quirky, easy to clean in and out. My kinda stuff. I purchased
                            it, used privately, nothing's gone wrong with it, it’s pretty easy to service yourself.</p>
                    </div>
                </div>
            </div>
            <!-- Product comment-->
            <div class="product-comment">
                <div class="product-comment-aside"><img class="img-circle" src="./images/shop/thumb-2.jpg" width="66"
                                                        height="66" alt=""></div>
                <div class="product-comment-main">
                    <div class="product-comment-main-header">
                        <div class="product-comment-title heading-5"><span>Erika wood</span></div>
                        <div class="product-comment-time"><span>2 days ago</span></div>
                        <ul class="product-comment-rating">
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star"></span></li>
                            <li><span class="material-icons-star_half"></span></li>
                        </ul>
                    </div>
                    <div class="product-comment-main-footer">
                        <p>This saves so much time! Don't know how I managed without it before. First time use recently,
                            have now used the item several times - a great way to have instant results. Great value,
                            easy to follow instructions. I read the reviews and was pleased to see such positive reports
                            of this company. I checked the website, prices looked very good, I could get service in my
                            area. The communication is top notch, and the service has been good.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>