{#<!-- Button Icon Alternate-->#}
{#<div class="group-flex group-flex-xs">#}
    {#<a class="button-icon-alternate button-icon-alternate-facebook" href="#">#}
        {#<span class="icon fa-facebook"></span>#}
        {#<div class="button-icon-alternate-title">Like us</div>#}
    {#</a>#}
    {#<a class="button-icon-alternate button-icon-alternate-twitter" href="#">#}
        {#<span class="icon fa-twitter"></span>#}
        {#<div class="button-icon-alternate-title">Follow Us</div>#}
    {#</a>#}
    {#<a class="button-icon-alternate button-icon-alternate-instagram" href="#">#}
        {#<span class="icon fa-instagram"></span>#}
        {#<div class="button-icon-alternate-title">Follow Us</div>#}
    {#</a>#}
    {#<a class="button-icon-alternate button-icon-alternate-google" href="#">#}
        {#<span class="icon fa-google-plus"></span>#}
        {#<div class="button-icon-alternate-title">Follow Us</div>#}
    {#</a>#}
{#</div>#}