<div class="group-xs">
    <a class="icon-media icon-media-round icon-media-facebook fa-facebook" href="#"></a>
    <a class="icon-media icon-media-round icon-media-twitter fa-twitter" href="#"></a>
    <a class="icon-media icon-media-round icon-media-google fa-google-plus" href="#"></a>
    <a class="icon-media icon-media-round icon-media-instagram fa-instagram" href="#"></a>
</div>