<section class="section section-sm bg-gray-100">
    <div class="container">
        <!-- Heading Component-->
        {% include 'FrontBundle:blog-component:_heading-component-title.html.twig' with {'title': "SOCIAL MEDIA"} %}


        <div class="row row-30">
            <div class="col-md-6 col-lg-4">
                <!-- Buttons Media-->
                <div class="group-sm group-flex">
                    <a class="button-media button-media-facebook" href="#">
                        <h4 class="button-media-title">50k</h4>
                        <p class="button-media-action">Like<span
                                    class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                                class="button-media-icon fa-facebook"></span>
                    </a>
                    <a class="button-media button-media-twitter" href="#">
                        <h4 class="button-media-title">120k</h4>
                        <p class="button-media-action">Follow<span
                                    class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                                class="button-media-icon fa-twitter"></span>
                    </a>
                    <a class="button-media button-media-google" href="#">
                        <h4 class="button-media-title">15k</h4>
                        <p class="button-media-action">Follow<span
                                    class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                                class="button-media-icon fa-google"></span>
                    </a>
                    <a class="button-media button-media-instagram" href="#">
                        <h4 class="button-media-title">85k</h4>
                        <p class="button-media-action">
                            Follow<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                                class="button-media-icon fa-instagram"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Icon Media Circle-->
                <div class="group-xs">
                    <a class="icon-media icon-media-circle icon-media-facebook fa-facebook" href="#"></a>
                    <a class="icon-media icon-media-circle icon-media-twitter fa-twitter" href="#"></a>
                    <a class="icon-media icon-media-circle icon-media-google fa-google-plus" href="#"></a>
                    <a class="icon-media icon-media-circle icon-media-instagram fa-instagram" href="#"></a>
                </div>
                <!-- Icon Media Round-->
                <div class="group-xs">
                    <a class="icon-media icon-media-round icon-media-facebook fa-facebook"
                       href="#"></a><a
                            class="icon-media icon-media-round icon-media-twitter fa-twitter" href="#"></a><a
                            class="icon-media icon-media-round icon-media-google fa-google-plus" href="#"></a><a
                            class="icon-media icon-media-round icon-media-instagram fa-instagram" href="#"></a></div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Button Icon Alternate-->
                <div class="group-flex group-flex-xs">
                    <a
                            class="button-icon-alternate button-icon-alternate-facebook" href="#"><span
                                class="icon fa-facebook"></span>
                        <div class="button-icon-alternate-title">Like us</div>
                    </a><a class="button-icon-alternate button-icon-alternate-twitter" href="#"><span
                                class="icon fa-twitter"></span>
                        <div class="button-icon-alternate-title">Follow Us</div>
                    </a><a class="button-icon-alternate button-icon-alternate-instagram" href="#"><span
                                class="icon fa-instagram"></span>
                        <div class="button-icon-alternate-title">Follow Us</div>
                    </a><a class="button-icon-alternate button-icon-alternate-google" href="#"><span
                                class="icon fa-google-plus"></span>
                        <div class="button-icon-alternate-title">Follow Us</div>
                    </a></div>
            </div>
        </div>
    </div>
</section>