<div class="comment-box">
    <div class="comment-box-aside"><img class="img-circle" src="./images/user-7-69x69.jpg" alt="" width="69"
                                        height="69"/>
    </div>
    <div class="comment-box-main">
        <h5 class="comment-box-name">Miranda</h5>
        <!-- RD Mailform-->
        <form class="rd-mailform comment-box-form" data-form-output="form-output-global" data-form-type="contact"
              method="post" action="http://livedemo00.template-help.com/wt_63853/soccer/bat/rd-mailform.php">
            <div class="form-wrap">
                <label class="form-label" for="comment-message">Your comment</label>
                <textarea class="form-input" id="comment-message" name="message"
                          data-constraints="@Required"></textarea>
            </div>
            <div class="form-button">
                <button class="button button-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>