<!-- Post Comment-->
<div class="post-comment post-comment-child">
    <div class="post-comment-aside"><img class="img-circle" src="./images/user-5-69x69.jpg" alt="" width="69"
                                         height="69"/>
    </div>
    <div class="post-comment-main">
        <div class="post-comment-header">
            <h5 class="author-name">Erika Wood</h5>
            <time class="post-comment-time" datetime="2017">2 days ago
            </time>
        </div>
        <div class="post-comment-text">
            <p>You are absolutely right! As a long-time soccer fan I can’t see any reasons why this deal happened if it
                was rejected 48 hours earlier. It looks like a kind of affair Coutinho would have never gotten into.</p>
        </div>
        <div class="post-comment-footer">
            <div class="comment-like"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></div>
            <div class="comment-reply"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></div>
        </div>
    </div>
</div>