<div class="blog-post">
    <!-- Badge-->
    <div class="badge badge-secondary">The Team
    </div>
    <h3 class="blog-post-title">Coutinho’s camp: it was all barca’s fault and we can prove it</h3>
    <div class="blog-post-header">
        <div class="blog-post-author"><img class="img-circle" src="{{ asset('assets/images/user-3-63x63.jpg') }}" alt=""
                                           width="63"
                                           height="63"/>
            <p class="post-author">Katrin Burns</p>
        </div>
        <div class="blog-post-meta">
            <time class="blog-post-time" datetime="2017"><span class="icon mdi mdi-clock"></span>April 15, 2017</time>
            <div class="blog-post-comment"><span class="icon mdi mdi-comment-outline"></span>345</div>
            <div class="blog-post-view"><span class="icon fl-justicons-visible6"></span>234</div>
        </div>
    </div>
    <div class="blog-post-author-quote">
        <p>Philippe Coutinho is reportedly seeking clear-the-air talks with Liverpool after Barcelona gave up on trying
            to sign the Brazilian. Barca failed to make a breakthrough in their attempts to replace Neymar with the
            Liverpool attacker this season.</p>
    </div>
    <div class="blog-post-share">
        <p>Share this post</p>
        <ul class="group">
            <li><a class="icon fa-facebook" href="#"></a></li>
            <li><a class="icon fa-twitter" href="#"></a></li>
            <li><a class="icon fa-google-plus" href="#"></a></li>
            <li><a class="icon fa-instagram" href="#"></a></li>
        </ul>
    </div>
    <div class="blog-post-content">
        <p>The Independent claims the player is ready for talks to settle any potential bad blood. It’s understood
            Liverpool rejected three bids from the Catalans with the final figure believed to be a £118million offer,
            which in fact proved to be just £82million up front with the rest in add-ons. Barca had imposed a 7pm Sunday
            deadline on Liverpool to agree to an offer that they had already rejected 48 hours earlier.</p>
        <p>The Reds sporting director Michael Edwards ignored their deadline as Liverpool stuck to their stance that the
            player was not for sale at any price.</p><img src="{{ asset('assets/images/blog-post-1-683x407.jpg') }}"
                                                          alt="" width="683"
                                                          height="407"/>
        <p>The report of the Independent says: “People within the 25-year-old midfielder’s entourage are pointing the
            finger at Barcelona for manipulating their client and have suggested the Nou Camp club used family members
            to provide additional pressure. They insist the ill-conceived email was Barca’s idea.” Still, there’s no
            updates on how this situation can be resolved.</p>
        <!-- Quote Default-->
        <article class="quote-default">
            <div class="quote-default-text">
                <p class="q">Coutinho’s camp will attempt to shift the blame for the saga on to Barca.</p>
            </div>
        </article>
        <p>Now though, Coutinho and his representatives are ready to accept that a move is not going to happen, which
            leaves the player in an awkward position as he prepares to return to the Liverpool fold. The 25-year-old has
            yet to return to full training at Melwood and he will not be involved against either Hoffenheim on Wednesday
            night or Arsenal on Sunday.</p>
    </div>
</div>