<article class="heading-component">
    <div class="heading-component-inner">
        <h5 class="heading-component-title">{{ headingTitle }}
        </h5><a class="button button-xs button-gray-outline"
                href="{{ (link != '#' ) ? path(link) :'#' }}">{{ heading }}</a>
    </div>
</article>
