<!-- <div class="list-post-minimal"> -->

<article class="post-minimal">
    <div class="post-classic-main">
        <time class="post-classic-time" datetime="2017">15 hours ago
        </time>
        <p class="post-classic-title"><a href="blog-post.html">Transfer news: The latest rumours
                from man utd, Chelsea and Arsenal</a></p>
    </div>
</article>