{% extends "::base.html.twig" %}

{% block title %}GroupBundle:GroupController:Modifierroup{% endblock %}

{% block body %}
    <h1>Welcome to the GroupController:Modifierroup page</h1>
{% endblock %}
