<a class="button-media button-media-facebook" href="#">
    <h4 class="button-media-title">50k</h4>
    <p class="button-media-action">Like<span
                class="icon material-icons-add_circle_outline icon-sm"></span></p><span
            class="button-media-icon fa-facebook"></span>
</a>