<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Gentelella - Symfony Web Application{% endblock %}</title>

    {% include '@Back/common/_style.html.twig' %}
    {% block stylesheets %}
    {% endblock stylesheets %}
    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">

</head>


<body class="nav-md">
{% block container %}
    <div class="container body">
        <div class="main_container">
            {% block sidebar %}
                {% include '@Back/common/_sidebar.html.twig' %}
            {% endblock %}
            {% block topnav %}
                {% include '@Back/common/_topnav.html.twig' %}
            {% endblock %}


        {% block body %}

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    {% block top_content_header %}
                        <div class="page-title">
                            <div class="title_left">
                                <h3>{% block page_title %}{% endblock page_title %}</h3>
                            </div>



                            {% block search %}
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endblock search %}
                        </div>
                    {% endblock top_content_header %}

                    <div class="clearfix"></div>


                    {% block page_content %}{% endblock %}


                    </div>
                </div>

                <!-- /page content -->
                {% block footer %}
                    {% include '@Back/common/_footer.html.twig' %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% include '@Back/common/_js.html.twig' %}
{% block javascripts %}
{% endblock javascripts %}

{% block modals %}{% endblock modals %}


</body>
</html>
