{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Russia 2018 - BitsPlease©
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}