<section class="section parallax-container breadcrumbs-wrap"
         data-parallax-img="{{ asset('assets/images/bg-breadcrumbs-1.jpg') }}">
    <div class="parallax-content breadcrumbs-custom context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">GAME OVERVIEW</h3>
            <ul class="breadcrumbs-custom-path">

                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="#">Competition</a></li>
                <li class="{{ path('result_list') }}">Latest Result</li>
                <li class="active">Game Overview</li>
            </ul>
        </div>
    </div>
</section>
