<article class="post-chelsea"><a class="post-chelsea-figure" href="blog-post.html"><img
                src="{{ asset('assets/images/post-chelsea-1-371x264.jpg') }}" alt="" width="371" height="264"/></a>
    <div class="post-chelsea-main">
        <!-- Badge-->
        <div class="badge badge-secondary">The Team
        </div>
        <h4 class="post-chelsea-title"><a href="blog-post.html">Alvaro Morata proving his worth at
                Chelsea</a></h4>
        <div class="post-chelsea-text">
            <p>Morata is essentially Diego Costa’s replacement at Chelsea, despite the fact that his
                international teammate is in exile in Brazil. In many ways, the...</p>
        </div>
        <div class="post-chelsea-meta">
            <div class="post-chelsea-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
            <div class="post-chelsea-comment"><span class="icon mdi mdi-comment-outline"> </span><a
                        href="#">345</a></div>
            <div class="post-chelsea-view"><span class="icon fl-justicons-visible6"></span>234
            </div>
        </div>
    </div>
</article>