<article class="post-ruby">
    <!-- Badge-->
    <div class="badge badge-secondary">The Team
    </div>
    <h4 class="post-ruby-title"><a href="blog-post.html">AS Roma keen on Aleksandar
            Dragovic</a></h4>
    <div class="post-ruby-text">
        <p>Il Corriere dello Sport is reporting that AS Roma are weighing up a move for
            Bayer Leverkusen stopper Aleksandar Dragovic. The Giallorossi plan to recruit
            another central defender before the summer...</p>
    </div>
    <div class="post-ruby-meta">
        <div class="post-ruby-time"><span class="icon mdi mdi-clock"></span>
            <time datetime="2017">April 15, 2017</time>
        </div>
        <div class="post-ruby-comment"><span class="icon mdi mdi-comment-outline"></span><a
                    href="#">345</a></div>
        <div class="post-ruby-view"><span class="icon fl-justicons-visible6"></span>234
        </div>
    </div>
</article>