<div class="aside-component">
    <!-- Heading Component-->
    {% include 'AppBundle:news-main-component:_heading-component-title.html.twig' with {'title' : 'OUR AWARD'} %}


    <!-- Owl Carousel-->
    <div class="owl-carousel owl-carousel-dots-modern awards-carousel" data-items="1"
         data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true"
         data-margin="0" data-mouse-drag="true">
        <!-- Awards Item-->
        <div class="awards-item">
            <div class="awards-item-main">
                <h4 class="awards-item-title"><span class="text-accent">World</span>Champions
                </h4>
                <div class="divider"></div>
                <h5 class="awards-item-time">December 2014</h5>
            </div>
            <div class="awards-item-aside"><img src="./images/thumbnail-minimal-1-67x147.png"
                                                alt="" width="67" height="147"/>
            </div>
        </div>
        <!-- Awards Item-->
        <div class="awards-item">
            <div class="awards-item-main">
                <h4 class="awards-item-title"><span class="text-accent">Best</span>Forward
                </h4>
                <div class="divider"></div>
                <h5 class="awards-item-time">June 2015</h5>
            </div>
            <div class="awards-item-aside"><img src="./images/thumbnail-minimal-2-68x126.png"
                                                alt="" width="68" height="126"/>
            </div>
        </div>
        <!-- Awards Item-->
        <div class="awards-item">
            <div class="awards-item-main">
                <h4 class="awards-item-title"><span class="text-accent">Best</span>Coach
                </h4>
                <div class="divider"></div>
                <h5 class="awards-item-time">November 2016</h5>
            </div>
            <div class="awards-item-aside"><img src="./images/thumbnail-minimal-3-73x135.png"
                                                alt="" width="73" height="135"/>
            </div>
        </div>
    </div>
</div>