<
<div class="aside-component">
    <!-- Heading Component-->
    {% include 'AppBundle:news-main-component:_heading-component-title.html.twig' with {'title' : 'FOLLOW US'} %}


    <!-- Buttons Media-->
    <div class="group-sm group-flex"><a class="button-media button-media-facebook" href="#">
            <h4 class="button-media-title">50k</h4>
            <p class="button-media-action">Like<span
                        class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                    class="button-media-icon fa-facebook"></span></a><a
                class="button-media button-media-twitter" href="#">
            <h4 class="button-media-title">120k</h4>
            <p class="button-media-action">Follow<span
                        class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                    class="button-media-icon fa-twitter"></span></a><a
                class="button-media button-media-google" href="#">
            <h4 class="button-media-title">15k</h4>
            <p class="button-media-action">Follow<span
                        class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                    class="button-media-icon fa-google"></span></a><a
                class="button-media button-media-instagram" href="#">
            <h4 class="button-media-title">85k</h4>
            <p class="button-media-action">Follow<span
                        class="icon material-icons-add_circle_outline icon-sm"></span></p><span
                    class="button-media-icon fa-instagram"></span></a></div>
</div>