{#Heading component variable example#}
{% set headingTitle = "Upcoming matches" %}
{% set heading = "Calendar" %}
{% set link = "#" %}

<div class="main-component">

    <!-- Heading Component-->
    {% include 'AppBundle:news-main-component:_heading-component.html.twig'  with {'headingTitle': headingTitle , 'heading' : heading, 'link' : link } %}

    <!-- Game Result Bug-->
    <article class="game-result">
        <div class="game-info game-info-creative">
            <p class="game-info-subtitle">Real Stadium -
                <time datetime="08:30"> 08:30 PM</time>
            </p>
            <h3 class="game-info-title">Champions league semi-final 2017</h3>
            <div class="game-info-main">
                <div class="game-info-team game-info-team-first">
                    <figure><img src="{{ asset('assets/images/team-atletico-100x100.png') }}" alt="" width="100"
                                 height="100"/>
                    </figure>
                    <div class="game-result-team-name">Atletico</div>
                    <div class="game-result-team-country">Italy</div>
                </div>
                <div class="game-info-middle game-info-middle-vertical">
                    <time class="time-big" datetime="2017-04-17"><span
                                class="heading-3">Fri 19</span> May 2017
                    </time>
                    <div class="game-result-divider-wrap"><span
                                class="game-info-team-divider">VS</span></div>
                    <div class="group-sm">
                        <div class="button button-sm button-share-outline">Share
                            <ul class="game-info-share">
                                <li class="game-info-share-item"><a class="icon fa fa-facebook"
                                                                    href="#"></a></li>
                                <li class="game-info-share-item"><a class="icon fa fa-twitter"
                                                                    href="#"></a></li>
                                <li class="game-info-share-item"><a class="icon fa fa-google-plus"
                                                                    href="#"></a></li>
                                <li class="game-info-share-item"><a class="icon fa fa-instagram"
                                                                    href="#"></a></li>
                            </ul>
                        </div>
                        <a class="button button-sm button-primary" href="#">Buy tickets</a>
                    </div>
                </div>
                <div class="game-info-team game-info-team-second">
                    <figure><img src="{{ asset('assets/images/team-bavaria-fc-113x106.png') }}" alt="" width="113"
                                 height="106"/>
                    </figure>
                    <div class="game-result-team-name">Celta Vigo</div>
                    <div class="game-result-team-country">Spain</div>
                </div>
            </div>
        </div>
        <div class="game-info-countdown">
            <div class="countdown countdown-bordered" data-type="until"
                 data-time="31 Dec 2018 16:00" data-format="dhms" data-style="short"></div>
        </div>
    </article>
</div>