<div class="aside-component">
    <!-- Heading Component-->
    <article class="heading-component">
        <div class="heading-component-inner">
            <h5 class="heading-component-title">Team Stats
            </h5>
        </div>
    </article>

    <div class="table-custom-responsive">
        <table class="table-custom table-custom-bordered table-team-statistic">
            <tr>
                <td>
                    <p class="team-statistic-counter">109</p>
                    <p class="team-statistic-title">Points Per Game</p>
                </td>
                <td>
                    <p class="team-statistic-counter">65</p>
                    <p class="team-statistic-title">Rebounds Per Game</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="team-statistic-counter">23.6</p>
                    <p class="team-statistic-title">Assists Per Game</p>
                </td>
                <td>
                    <p class="team-statistic-counter">102</p>
                    <p class="team-statistic-title">Points Allowed</p>
                </td>
            </tr>
        </table>
    </div>
</div>