{% extends 'FrontBundle:common:_base.html.twig' %}
{% block body %}
    <!-- Swiper-->
    {% include 'FrontBundle:swiper-component:_swiper.html.twig' %}

    {% include 'FrontBundle:news-main-component:_news.html.twig' %}


    <!--PANEL-->
    <div class="layout-panel-wrap">
        <div class="layout-panel">
            <button class="layout-panel-toggle" data-custom-toggle=".layout-panel-wrap"><span></span></button>
            <div class="layout-panel-content">
                <h6>Choose your color scheme:</h6>
                <div class="theme-switcher-list">
                    <button class="theme-switcher-list-item" data-theme-name="soccer">Soccer</button>
                    <button class="theme-switcher-list-item" data-theme-name="baseball">Baseball</button>
                    <button class="theme-switcher-list-item" data-theme-name="basketball">Basketball</button>
                    <button class="theme-switcher-list-item" data-theme-name="billiards">Billiards</button>
                    <button class="theme-switcher-list-item" data-theme-name="bowling">Bowling</button>
                    <button class="theme-switcher-list-item" data-theme-name="rugby">Rugby</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Video model-->
    <div class="modal modal-video fade" id="modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315"
                                src="https://www.youtube.com/embed/GRlsN4GyPxo"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
