{% extends 'FrontBundle:common:_base.html.twig' %}
{% block body %}
    <!-- Swiper-->
    {% include 'FrontBundle:swiper-component:_swiper.html.twig' %}

    {% include 'FrontBundle:news-main-component:_news.html.twig' %}


    <!-- Video model-->
    <div class="modal modal-video fade" id="modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315"
                                src="https://www.youtube.com/embed/GRlsN4GyPxo"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
