<div class="progress-bar-main progress-bar-rotate-90">
    <div class="progress-bar-team progress-bar-team-first progress-bar-primary">
        <div class="progress-bar-wrap">
            <div class="progress-bar-js progress-bar-radial" data-value="{{ shotAccuracyFirstTeam |slice(0,2) }}" data-stroke="3" data-trail="3"
                 data-gradient="#000000"></div>
            <p class="progress-bar-title">Shot accuracy</p>
        </div>
        <div class="progress-bar-wrap">
            <div class="progress-bar-js progress-bar-radial" data-value="{{ ballPossessionFirstTeam |slice(0,2)}}" data-stroke="3" data-trail="3"
                 data-gradient="#000000"></div>
            <p class="progress-bar-title">Ball posession</p>
        </div>
    </div>
    <div class="progress-bar-divider"></div>
    <div class="progress-bar-team progress-bar-team-second team2-blue">
        <div class="progress-bar-wrap">
            <div class="progress-bar-js progress-bar-radial" data-value="{{ shotAccuracySecondTeam |slice(0,2)}}" data-stroke="3" data-trail="3"
                 data-gradient="#000000"></div>
            <p class="progress-bar-title">Shot accuracy</p>
        </div>
        <div class="progress-bar-wrap">
            <div class="progress-bar-js progress-bar-radial" data-value="{{ ballPossessionSecondTeam|slice(0,2) }}" data-stroke="3" data-trail="3"
                 data-gradient="#000000"></div>
            <p class="progress-bar-title">Ball posession</p>
        </div>
    </div>
</div>
