{% extends 'FrontBundle:common:_base.html.twig' %}

{% block body %}

    {% include '@Match/Breadcrumbs/breadcrumbs_overview.html.twig' %}


    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-8">
                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">Game Overview
                            </h5>

                        </div>
                    </article>

                    {% include '@Match/FrontViews/game_overview_model.html.twig' %}



                    <div class="col-sm-12">

                        <br>
                        <!-- Heading Component-->
                        <article class="heading-component">
                            <div class="heading-component-inner">

                                <h5 class="heading-component-title">Main Rosters
                                </h5>
                            </div>
                        </article>
                        <div class="row row-30">
                            {% include '@Match/FrontViews/maint_roster.html.twig' %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row row-30">
                        <div class="col-md-6 col-lg-12">
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">GAME HIGHLIGHTS
                                    </h5>
                                </div>
                            </article>
                            {% include '@Match/FrontViews/game_highlights.html.twig' %}
                        </div>

                        <div class="col-md-6 col-lg-12">
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">LATEST GAME RESULTS
                                    </h5>
                                </div>
                            </article>
                            {% include '@Match/FrontViews/single_latest_game_result_model.html.twig' %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


{% endblock body %}