{% extends 'FrontBundle:common:_base.html.twig' %}

{% block title %}Schedule{% endblock %}
{% block body %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Game Schedule'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">Competition</a></li>
            <li class="active">Schedule</li>
        {% endblock %}
    {% endembed %}

     <section class="section section-sm bg-gray-100">
         <div class="container">
             <div class="row row-50">
                 <div class="col-lg-8">
                     <!-- Heading Component-->
                     <article class="heading-component">
                         <div class="heading-component-inner">
                             <h5 class="heading-component-title">Game schedule
                             </h5>
                         </div>
                     </article>
                     <div class="js-schedule">
                         {% include '@Match/Model/single_game_schedule_model.html.twig' %}
                     </div>
                 </div>

                 <div class="col-lg-4">
                     <div class="row row-30">
                         <div class="col-md-6 col-lg-12">
                             <div class="rd-search-modern">
                                 <div class="form-wrap">
                                     <label class="form-label" for="rd-search-form-input">Enter your search
                                         request</label>
                                     <input class="js-search form-input" id="rd-search-form-input" type="text" name="s"
                                            id="s"
                                            autocomplete="off">
                                 </div>
                                 <button class="rd-search-form-submit fl-budicons-launch-search81"
                                         type="submit"></button>
                             </div>
                         </div>


                         <div class="col-md-6 col-lg-12">

                             {% include "FrontBundle:news-main-component:_standing.html.twig" %}
                         </div>

                         <div class="col-md-6 col-lg-12 owl-carousel-outer-navigation">
                             <!-- Heading Component-->
                             <article class="heading-component">
                                 <div class="heading-component-inner">
                                     <h5 class="heading-component-title">Latest Game results
                                     </h5>
                                     <div class="owl-carousel-arrows-outline">
                                         <div class="owl-nav">
                                             <button class="owl-arrow owl-arrow-prev"></button>
                                             <button class="owl-arrow owl-arrow-next"></button>
                                         </div>
                                     </div>
                                 </div>
                             </article>
                             {% if scores is not empty %}
                                 <div class="owl-carousel" data-items="1" data-dots="false" data-nav="true"
                                      data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false"
                                      data-nav-custom=".owl-carousel-outer-navigation">
                                     {% include '@Match/Model/single_latest_game_result_model.html.twig' %}
                                 </div>
                             {% else %}
                                 <article class="game-result game-result-classic text-center">
                                     <div class="game-result-main justify-content-center">
                                         <p> No game result yet !</p>
                                     </div>
                                 </article>
                             {% endif %}
                         </div>

                     </div>
                 </div>
             </div>
         </div>
     </section>

 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.js-search').on("keyup", function () {
                $value = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: "{{ path('search_schedule') }}",
                    data: "s=" + $value
                }).done(function (response) {
                    $('.js-schedule').html(response);
                    console.log(response);
                }).fail(function (error) {
                });
            });
        });
    </script>
{% endblock javascripts %}

