<div class="col-sm-6">
    <!-- Table Roster-->
    <div class="table-custom-responsive">
        <table class="table-custom table-roster">
            <thead>
            <tr>
                <th colspan="3">Atletico</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>NBR</td>
                <td>Player name</td>
                <td>Position</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Harry Stevenson</td>
                <td>Goalkeeper</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jose Calderon</td>
                <td>Defender</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Chris Balleron</td>
                <td>Defender</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Sam Schmidt</td>
                <td>Defender</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Jack Windsor</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Joe Perkins</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Ernesto Wilson</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Franklin Stevens</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Denis Shclyar</td>
                <td>Forward</td>
            </tr>
            <tr>
                <td>11</td>
                <td>David Hawkins</td>
                <td>Forward</td>
            </tr>
            <tr>
                <td>10</td>
                <td>James Peterson</td>
                <td>Forward</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-6">
    <!-- Table Roster-->
    <div class="table-custom-responsive">
        <table class="table-custom table-roster team2-blue">
            <thead>
            <tr>
                <th colspan="3">Bavaria FC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>NBR</td>
                <td>Player name</td>
                <td>Position</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Nathaniel Chalobah</td>
                <td>Goalkeeper</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Diego Costa</td>
                <td>Defender</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Cesar Azpilicueta</td>
                <td>Defender</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Nemanja Matic</td>
                <td>Defender</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Branislav Ivanovic</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Nathaniel Chalobah</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Diego Costa</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Cesar Azpilicueta</td>
                <td>Midfielder</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Denis Friday</td>
                <td>Forward</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Nemanja Matic</td>
                <td>Forward</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Branislav Ivanovic</td>
                <td>Forward</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
