<section class="section section-variant-1 bg-gray-100 text-center">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-xl-10"><span class="icon-xl icon-gray-400 mdi mdi-emoticon-happy"></span>
                <h4><span class="text-primary">Comming soon </span>Stay in touch</h4>
                <p class="big text-gray-800">No game result yet.</p>
                <a class="button button-lg button-primary" href="{{ path('homepage') }}">Go to home page</a>
            </div>
        </div>
    </div>
</section>
