{% extends '@Front/common/_base.html.twig' %}
{% block body %}
    {% include '@Front/common/_breadcrumbs.html.twig' %}

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">

                <div class="col-lg-7 col-xl-8">
                    <div class="owl-carousel-outer-navigation">
                        <div class="owl-carousel" data-items="1" data-dots="false" data-nav="true"
                             data-stage-padding="0"
                             data-loop="false" data-margin="0" data-mouse-drag="false"
                             data-nav-custom=".owl-carousel-outer-navigation">

                            {% for key, st in fullStandings %}
                                <div class="owl-carousel-outer-navigation">
                                    <article class="heading-component">
                                        <div class="heading-component-inner">
                                            <h5 class="heading-component-title">Group {{ st[key].group }}
                                            </h5>
                                            <div class="owl-carousel-arrows-outline">

                                                <div class="owl-nav">
                                                    <button class="owl-arrow owl-arrow-prev"></button>
                                                    <button class="owl-arrow owl-arrow-next"></button>
                                                </div>
                                            </div>

                                        </div>
                                    </article>
                                    <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                         role="tablist" aria-multiselectable="false">
                                        <div class="card-standing-caption">
                                            <div class="card-standing-position">Pos</div>
                                            <div class="card-standing-caption-aside">
                                                <div class="card-standing-team">Team</div>
                                                <div class="card-standing-number">W</div>
                                                <div class="card-standing-number">L</div>
                                                <div class="card-standing-number">D</div>
                                                <div class="card-standing-points">PTS</div>
                                            </div>
                                        </div>

                                        {% for s in st %}
                                            {% embed'@Group/Standings/single_group_standings.html.twig' with {'s':s,'logo':s.logo} %} {% endembed %}
                                        {% endfor %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">Glossary Terms
                            </h5>
                        </div>
                    </article>

                    <div class="game-glossary">
                        <div class="game-glossary-wrap row-10">
                            <div class="game-glossary-column">
                                <table class="game-glossary-terms">
                                    <tr>
                                        <td>W:</td>
                                        <td>Wins</td>
                                    </tr>
                                    <tr>
                                        <td>L:</td>
                                        <td>Loses</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="game-glossary-column">
                                <table class="game-glossary-terms">
                                    <tr>
                                        <td>D:</td>
                                        <td>Drows</td>
                                    </tr>
                                    <tr>
                                        <td>PTS:</td>
                                        <td>Winning Percentage</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="row row-30">
                        <div class="col-md-6 col-lg-12">
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">Latest result
                                    </h5>
                                </div>
                            </article>
                            {% if scores is not empty %}
                                {% include '@Match/FrontViews/single_latest_game_result_model.html.twig' %}
                            {% else %}
                                <article class="game-result game-result-classic text-center">
                                    <div class="game-result-main justify-content-center">
                                        <p> No game result yet !</p>
                                    </div>
                                </article>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}