<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-classic bg-gray-2" data-loop="true"
         data-autoplay="false" data-simulate-touch="false" data-lazy-loading="true" data-slide-effect="fade">
    <div class="swiper-wrapper">
        {% embed 'FrontBundle:swiper-component:_swiper-item.html.twig'%}
            {% block wallpaper%}{{ asset('assets/images/swipper1.jpg') }}{% endblock %}
            {% block text1 %}We play{% endblock %}
            {% block text2 %}Soccer{% endblock %}
            {% block text3 %}like no one else in the united
                states{% endblock %}
        {% endembed %}
        {% embed 'FrontBundle:swiper-component:_swiper-item.html.twig'%}
            {% block wallpaper%}{{ asset('assets/images/swipper2.jpg') }}{% endblock %}
            {% block text1 %}We are{% endblock %}
            {% block text2 %}pros{% endblock %}
            {% block text3 %}In everything concerning
                soccer{% endblock %}
        {% endembed %}

    </div>
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</section>
