<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-classic bg-gray-2" data-loop="true"
         data-autoplay="false" data-simulate-touch="false" data-lazy-loading="true" data-slide-effect="fade">
    <div class="swiper-wrapper">
        {% include 'FrontBundle:swiper-component:_swiper-item.html.twig' %}
        <div class="swiper-slide"
             data-slide-bg="{{ asset('assets/images/landing-soccer-slider-1-slide-2-1920x671.jpg') }}">
            <div class="container">
                <div class="swiper-slide-caption">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">We are <br> pros</h1>
                    <h4 data-caption-animate="fadeInUp" data-caption-delay="200">In everything concerning
                        soccer</h4><a class="button button-gray-outline" data-caption-animate="fadeInUp"
                                      data-caption-delay="300" href="about-us.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</section>
