<div class="swiper-slide" data-slide-bg="{% block wallpaper%}{% endblock %}">
    <div class="container">
        <div class="swiper-slide-caption">
            <h1 data-caption-animate="fadeInUp" data-caption-delay="100">{% block text1 %}{% endblock %} <br> {% block text2 %}{% endblock %}</h1>
            <h4 data-caption-animate="fadeInUp" data-caption-delay="200">{% block text3 %}{% endblock %}
            </h4><a class="button button-gray-outline" data-caption-animate="fadeInUp"
                              data-caption-delay="300" href="about-us.html">Read More</a>
        </div>
    </div>
</div>