<div class="table-custom-responsive">
    <table class="table-custom table-standings table-modern">
        <thead>
        <tr>
            <th colspan="2">Team Position</th>
            <th>GM</th>
            <th>+/-</th>
            <th>AVG</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="table-counter">1</span></td>
            <td class="player-inline">
                <div class="player-title">
                    <div class="player-name">S. Lavery-Spahr</div>
                    <div class="player-country">Phoenix</div>
                </div>
            </td>
            <td>21</td>
            <td>+714</td>
            <td>223</td>
        </tr>
        <tr>
            <td><span class="table-counter">2</span></td>
            <td class="player-inline">
                <div class="player-title">
                    <div class="player-name">P. Bohn III</div>
                    <div class="player-country">Chicago</div>
                </div>
            </td>
            <td>20</td>
            <td>+624</td>
            <td>221</td>
        </tr>
        <tr>
            <td><span class="table-counter">3</span></td>
            <td class="player-inline">
                <div class="player-title">
                    <div class="player-name">K. Sherman</div>
                    <div class="player-country">Boston</div>
                </div>
            </td>
            <td>20</td>
            <td>+424</td>
            <td>190</td>
        </tr>
        <tr>
            <td><span class="table-counter">4</span></td>
            <td class="player-inline">
                <div class="player-title">
                    <div class="player-name">D. Bidwell</div>
                    <div class="player-country">Houston</div>
                </div>
            </td>
            <td>20</td>
            <td>+324</td>
            <td>140</td>
        </tr>
        <tr>
            <td><span class="table-counter">5</span></td>
            <td class="player-inline">
                <div class="player-title">
                    <div class="player-name">L. Boresch Jr.</div>
                    <div class="player-country">Atlanta</div>
                </div>
            </td>
            <td>20</td>
            <td>+324</td>
            <td>134.4</td>
        </tr>
        <tr>
            <td><span class="table-counter">6</span></td>
            <td class="player-inline">
                <div class="player-title">
                    <div class="player-name">M. Bailey</div>
                    <div class="player-country">New York</div>
                </div>
            </td>
            <td>21</td>
            <td>+314</td>
            <td>134.2</td>
        </tr>
        </tbody>
    </table>
</div>
