<div class="table-custom-responsive">
    <table class="table-custom table-standings table-classic">
        <thead>
        <tr>
            <th colspan="2">Team Position</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>PTS</th>
        </tr>
        </thead>
        <tbody>
        {% block teams %}{% endblock %}
        </tbody>
    </table>
</div>