<tr>
    <td><span>{{ rank }}</span></td>
    <td class="team-inline">
        <a class="team-figure" href="{{ path('team_display',{'id':teamId} )}}"><img src="{{ asset(teamLogo) }}" alt=""
                                      width="37" height="37"/>
        </a>
        <a class="team-title" href="{{ path('team_display',{'id':teamId} )}}">
            <div class="team-name">{% block teamName %}{% endblock %}</div>
            <div class="team-country">{% block  teamShortCut %}{% endblock %}</div>
        </a>
    </td>
    <td>{% block teamWins %}{% endblock %}</td>
    <td>{% block teamLoss %}{% endblock %}</td>
    <td>{% block teamDraw %}{% endblock %}</td>
    <td>{% block  points %}{% endblock %}</td>
</tr>