{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}Forum{% endblock %}
{% block header_news %}active{% endblock %}
{% block body %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Forum'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">News</a></li>
            <li class="active">Forum</li>
        {% endblock %}
    {% endembed %}

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <!-- Heading Component-->
            <article class="heading-component">
                <div class="heading-component-inner">
                    <h5 class="heading-component-title">Topic
                    </h5>
                </div>
            </article>
            <!-- Les sujets-->
            <div class="list-post-classic">
                <!-- un sujet-->
                <article class="post-classic">
                    <div class="post-classic-aside"><img src="{{ asset('assets/images/blog-element-6-94x94.jpg') }}" alt="" width="94" height="94"/></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="{{ path('forum_affiche',{'Name':'Titre'}) }}">Titre</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span><time datetime="2017">April 15, 2017</time></div>
                        <div class="post-corporate-comment"><span class="icon mdi mdi-comment-outline"></span>345 Comments</div>
                        <div class="post-corporate-view"><span class="icon fl-justicons-visible6"> </span>234</div>
                    </div>
                </article>
            </div>
        </div>
    </section>


    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-sm-9 col-md-6 col-lg-4">
                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">Ajouter sujet
                            </h5>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}