{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}Forum{% endblock %}
{% block header_news %}active{% endblock %}
{% block body %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Forum'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">News</a></li>
            <li class="active">Forum</li>
        {% endblock %}
    {% endembed %}

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <!-- Heading Component-->
            <article class="heading-component">
                <div class="heading-component-inner">
                    <h5 class="heading-component-title">Topic
                    </h5>
                </div>
            </article>

            <!-- List Post Classic-->
            <div class="list-post-classic">
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img src="{{ asset('assets/images/blog-element-2-94x94.jpg') }}" alt="" width="94" height="94"/></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Prem in 90 seconds: Chelsea's crisis is over!</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017</time>
                            <div class="post-corporate-comment"><span class="icon mdi mdi-comment-outline"></span><a href="#">345 Comments</a></div>
                            <div class="post-corporate-view"><span class="icon fl-justicons-visible6"> </span>234
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img src="{{ asset('assets/images/blog-element-3-94x94.jpg') }}" alt="" width="94" height="94"/></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Good vibes back at struggling Schalke</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017</time>
                        </div>
                    </div>
                </article>
                <!-- Post Classic-->
                <article class="post-classic">
                    <div class="post-classic-aside"><a class="post-classic-figure" href="blog-post.html"><img src="{{ asset('assets/images/blog-element-4-94x94.jpg') }}" alt="" width="94" height="94"/></a></div>
                    <div class="post-classic-main">
                        <p class="post-classic-title"><a href="blog-post.html">Liverpool in desperate need of backup players</a></p>
                        <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2017">April 15, 2017</time>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}