{#<article class="post-future post-future-horizontal isotope-item data-filter="{{ filter_isotope|default('gallery') }}">#}
    {#<a class="post-future-figure" href="#"><img src="{{ asset('assets/images/news-3-1-370x325.jpg') }}" alt="" width="370" height="325"></a>#}
    {#<div class="post-future-main">#}
        {#<h4 class="post-future-title"><a href="#">{% block title %}{% endblock %}</a></h4>#}
        {#<div class="post-future-meta">#}
            {#<!-- Badge-->#}
            {#<div class="badge badge-red">{% block number%}{% endblock %}<span class="icon mdi mdi-fire"></span>#}
            {#</div>#}
            {#<div class="post-future-time"><span class="icon mdi mdi-clock"></span>#}
                {#<time datetime="2017">April 15, 2017</time>#}
            {#</div>#}
        {#</div>#}
        {#<hr>#}
        {#<div class="post-future-text">#}
            {#<p>{% block information %}{% endblock %}</p>#}
        {#</div>#}
    {#</div>#}
{#</article>#}
<article class="post-future post-future-horizontal isotope-item"><a class="post-future-figure"
                                                                    href="blog-post.html"><img
                src="images/news-3-2-370x325.jpg" alt="" width="370" height="325"></a>
    <div class="post-future-main">
        <h4 class="post-future-title"><a href="blog-post.html">NFL Will Handle Referee Pete Morelli’s Use of Profanity
                Internally</a></h4>
        <div class="post-future-meta">
            <!-- Badge-->
            <div class="badge badge-primary">The League
            </div>
            <div class="post-future-time"><span class="icon mdi mdi-clock"></span>
                <time datetime="2017">April 15, 2017</time>
            </div>
        </div>
        <hr>
        <div class="post-future-text">
            <p>The NFL will internally address referee Pete Morelli's recent microphone gaffe, a league spokesman said,
                but it does not appear Morelli...</p>
        </div>
    </div>
</article>