<article class="game-result game-result-long team2-orange">
    <div class="game-result-inset">
        <p class="game-result-title">World Champions Cup</p>
        <time class="game-results-subtitle" datetime="2017-04-14">Saturday, April 14, 2017</time>
    </div>
    <div class="game-result-long-main">
        <div class="game-result-team game-result-team-first">
            <figure><img src="{{ asset('/asstes/images/team-atletico-77x77.png') }}" alt="" width="77" height="77"/>
            </figure>
        </div>
        <div class="game-result-score-wrap game-result-long-score-wrap">
            <div class="game-result-score game-result-score-biger">1</div>
            <div class="game-result-long-score-divider">
                <svg x="0px" y="0px" width="7px" height="21px" viewbox="0 0 7 21" enable-background="new 0 0 7 21"
                     xml:space="preserve">
                        <g>
                            <circle cx="3.5" cy="3.5" r="3"></circle>
                            <path d="M3.5,1C4.879,1,6,2.122,6,3.5S4.879,6,3.5,6S1,4.878,1,3.5S2.122,1,3.5,1 M3.5,0C1.567,0,0,1.567,0,3.5S1.567,7,3.5,7      S7,5.433,7,3.5S5.433,0,3.5,0L3.5,0z"></path>
                        </g>
                    <g>
                        <circle cx="3.695" cy="17.5" r="3"></circle>
                        <path d="M3.695,15c1.378,0,2.5,1.122,2.5,2.5S5.073,20,3.695,20s-2.5-1.122-2.5-2.5S2.316,15,3.695,15 M3.695,14      c-1.933,0-3.5,1.567-3.5,3.5s1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5S5.628,14,3.695,14L3.695,14z"></path>
                    </g>
                      </svg>
            </div>
            <div class="game-result-score game-result-score-biger">4</div>
        </div>
        <div class="game-result-team game-result-team-second">
            <figure><img src="{{ asset('/asstes/images/team-sevilla-83x67.png') }}" alt="" width="83" height="67"/>
            </figure>
        </div>
    </div>
    <div class="game-result-inset">
        <p class="game-result-title">Game statistics</p>
        <div class="charts-statistics">
            <div class="charts-statistics-item">
                <div class="doughnut-chart-wrap">
                    <article class="doughnut-chart">
                        <ul class="doughnut-chart-list">
                            <li data-value="12">Sevilla</li>
                            <li data-value="21">Atletico</li>
                        </ul>
                        <div class="charts-statistics-circle-progress"><span
                                    class="charts-statistics-team-first-number">21</span>-<span
                                    class="charts-statistics-team-second-number">12</span></div>
                    </article>
                    <p class="charts-statistics-category">Shots</p>
                </div>
            </div>
            <div class="charts-statistics-item">
                <div class="doughnut-chart-wrap">
                    <article class="doughnut-chart">
                        <ul class="doughnut-chart-list">
                            <li data-value="14">Sevilla</li>
                            <li data-value="11">Atletico</li>
                        </ul>
                        <div class="charts-statistics-circle-progress"><span
                                    class="charts-statistics-team-first-number">11</span>-<span
                                    class="charts-statistics-team-second-number">14</span></div>
                    </article>
                    <p class="charts-statistics-category">Fouls</p>
                </div>
            </div>
            <div class="charts-statistics-item">
                <div class="doughnut-chart-wrap">
                    <article class="doughnut-chart">
                        <ul class="doughnut-chart-list">
                            <li data-value="60">Sevilla</li>
                            <li data-value="40">Atletico</li>
                        </ul>
                        <div class="charts-statistics-circle-progress"><span
                                    class="charts-statistics-team-first-number">40</span>-<span
                                    class="charts-statistics-team-second-number">60</span></div>
                    </article>
                    <p class="charts-statistics-category">Ball possessions</p>
                </div>
            </div>
            <div class="charts-statistics-item">
                <div class="doughnut-chart-wrap">
                    <article class="doughnut-chart">
                        <ul class="doughnut-chart-list">
                            <li data-value="4">Sevilla</li>
                            <li data-value="2">Atletico</li>
                        </ul>
                        <div class="charts-statistics-circle-progress"><span
                                    class="charts-statistics-team-first-number">2</span>-<span
                                    class="charts-statistics-team-second-number">4</span></div>
                    </article>
                    <p class="charts-statistics-category">Corner kicks</p>
                </div>
            </div>
        </div>
    </div>
</article>
