<div class="game-highlights">
    <ul class="game-highlights-list">
        <li>
            <p class="game-highlights-title">Start of the Match
            </p><span class="game-highlights-minute">0’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-orange-dark fa fa-exclamation"></span>Foul
                by Martin Pierto
            </p>
            <p class="game-highlights-description">Martin Pierto showed sharp reflexes but failed to score for his
                team.</p><span class="game-highlights-minute">12’</span>
        </li>
        <li class="team-primary">
            <p class="game-highlights-title"><span class="icon icon-xxs icon-primary fa fa-futbol-o"></span><span
                        class="game-highlights-goal">Goal</span> (1-0)
            </p>
            <p class="game-highlights-description">Franklin Stevens scored with the right foot. Assisted by David
                Hawkins.</p><span class="game-highlights-minute">18’</span>
        </li>
        <li class="team2-blue">
            <p class="game-highlights-title"><span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span
                        class="game-highlights-goal">Goal</span> (1-1)
            </p>
            <p class="game-highlights-description">atletico’s defender James Peterson turned Hernandez’s cross into his
                own net.</p><span class="game-highlights-minute">21’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-orange fa fa-file"></span>Yellow card
            </p>
            <p class="game-highlights-description">Ernesto Wilson got his first yellow card just before the first time
                ended.</p><span class="game-highlights-minute">28’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-primary fa fa-life-ring"></span>Attempt
                saved
            </p>
            <p class="game-highlights-description">Harry Stevenson saved Rob Wilson’s attempt to score a goal.</p><span
                    class="game-highlights-minute">31’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-blue-boston fa fa-hand-o-right"></span>Penalty
                Kick
            </p>
            <p class="game-highlights-description">Performed by Sam Schmidt, this penalty kick marks the beginning of
                the 2nd time.</p><span class="game-highlights-minute">47’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-primary fa fa-flag"></span>Offside of Chris
                Balleron
            </p>
            <p class="game-highlights-description">Chris Balleron received offside warning for touching the passed
                ball.</p><span class="game-highlights-minute">60’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-red-2 fa fa-file"></span>Red card
            </p>
            <p class="game-highlights-description">The referee showed red card to Joe Perkins on the 74th minute of the
                match.</p><span class="game-highlights-minute">74’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-primary fa fa-exchange"></span>Gary Cahill
                <span class="text-gray-500">for</span> jack windsor
            </p>
            <p class="game-highlights-description">Atletico replaces their first forward with Jack Windsor before the
                2nd time ends.</p><span class="game-highlights-minute">86’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-blue-boston fa fa-clock-o"></span>The
                referee adds 4 minutes
            </p>
            <p class="game-highlights-description">The referee adds 4 minutes to the second time to compensate goal
                celebration time.</p><span class="game-highlights-minute">89’</span>
        </li>
        <li>
            <p class="game-highlights-title"><span class="icon icon-xxs icon-primary fa fa-flag-checkered"></span>End of
                the game
            </p>
            <p class="game-highlights-description">4 minutes later the referee announces the end of the game with a draw
                as a result.</p><span class="game-highlights-minute">94’</span>
        </li>
    </ul>
</div>