<article class="game-result game-result-creative">
    <div class="game-result-main-vertical">
        <div class="game-result-team game-result-team-horizontal game-result-team-first">
            <figure class="game-result-team-figure"><img src="{{ asset('/asstes/images/team-atletico-37x37.png') }}"
                                                         alt="" width="37" height="37"/>
            </figure>
            <div class="game-result-team-title">
                <div class="game-result-team-name">Atletico</div>
                <div class="game-result-team-country">USA</div>
            </div>
            <div class="game-result-score game-result-score-big game-result-team-win">2<span
                        class="game-result-team-label game-result-team-label-right">Win</span>
            </div>
        </div>
        <span class="game-result-team-divider">VS</span>
        <div class="game-result-team game-result-team-horizontal game-result-team-second">
            <figure class="game-result-team-figure"><img src="{{ asset('/asstes/images/team-real-madrid-29x43.png') }}"
                                                         alt="" width="29" height="43"/>
            </figure>
            <div class="game-result-team-title">
                <div class="game-result-team-name">Real madrid</div>
                <div class="game-result-team-country">Spain</div>
            </div>
            <div class="game-result-score game-result-score-big">1
            </div>
        </div>
    </div>
    <div class="game-result-footer">
        <ul class="game-result-details">
            <li>Home</li>
            <li>New Yorkers Stadium</li>
            <li>
                <time datetime="2017-04-14">April 14, 2017</time>
            </li>
        </ul>
    </div>
</article>
