<!-- RD Navbar Brand-->
<div class="rd-navbar-brand">
    <a class="brand " href="{{ path('homepage') }}">
        <img class="brand-logo"
             src="{{ asset('assets/images/Russia-logo.png') }}"
             alt="" width="129"
             height="129"/>
    </a>
</div>