
<div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
    <!-- Owl Carousel-->
    <div class="owl-carousel-navbar owl-carousel-inline-outer">
        <div class="owl-inline-nav">
            <button class="owl-arrow owl-arrow-prev"></button>
            <button class="owl-arrow owl-arrow-next"></button>
        </div>
        <div class="owl-carousel-inline-wrap">
            <div class="owl-carousel owl-carousel-inline" data-items="1" data-dots="false"
                 data-nav="true" data-stage-padding="0" data-loop="true" data-margin="10"
                 data-mouse-drag="false" data-touch-drag="false"
                 data-nav-custom=".owl-carousel-navbar">
                {% for m in matches %}
                <!-- Post Inline-->
                <article class="post-inline">
                    <time class="post-inline-time" datetime="2017">{{ m.date |date('M d, Y') }}</time>
                    <p class="post-inline-title">{{ m.team1.teamName }} vs {{ m.team2.teamName }}</p>
                </article>
            {% endfor %}
            </div>
        </div>
    </div>
</div>