 <div class="rd-navbar-main-bottom rd-navbar-darker">
    <div class="rd-navbar-main-container container">
        <!-- RD Navbar Nav-->
        {% include 'FrontBundle:navbar-component:_nav-link.html.twig' %}
        {% include 'FrontBundle:navbar-component:_nav-social-media.html.twig' %}
    </div>
</div>