<!-- RD Navbar Brand-->
<div class="rd-navbar-brand">
    <a class="brand link-circle" href="index.html">
        <img class="brand-logo "
             src="{{ asset('assets/images/logo-soccer-default-129x129.png') }}"
             alt="" width="129"
             height="129"/>
    </a>
</div>