<!-- RD Navbar List-->
<ul class="rd-navbar-list">
    <li class="rd-navbar-list-item">
        <a class="rd-navbar-list-link" href="#">
            <img src="{{ asset('assets/images/partners-1-inverse-75x42.png') }}" alt="" width="75"
                 height="42"/>
        </a>
    </li>
    <li class="rd-navbar-list-item">
        <a class="rd-navbar-list-link" href="#">
            <img src="{{ asset('assets/images/partners-2-inverse-78x41.png') }}" alt="" width="78"
                 height="41"/>
        </a>
    </li>
    <li class="rd-navbar-list-item">
        <a class="rd-navbar-list-link" href="#">
            <img src="{{ asset('assets/images/partners-3-inverse-65x44.png') }}" alt="" width="65"
                 height="44"/>
        </a>
    </li>
</ul>