<div class="rd-navbar-panel">
    <!-- RD Navbar Toggle-->
    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-main"><span></span></button>
    <!-- RD Navbar Panel-->
    <div class="rd-navbar-panel-inner container">
        {% include 'FrontBundle:navbar-component:_nav-panel-carousel.html.twig' %}
        {% include 'FrontBundle:navbar-component:_nav-panel-right-item.html.twig' %}
        <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
             data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
    </div>
</div>