<div class="rd-navbar-panel-item rd-navbar-panel-item-right">
    <ul class="list-inline list-inline-bordered">
        <li>
            <!-- Select 2-->
            <select class="select select-inline" data-placeholder="Select an option"
                    data-dropdown-class="select-inline-dropdown">
                <option value="en" selected="">en</option>
                <option value="fr">fr</option>
                <option value="es">es</option>
            </select>
        </li>
        <li>
            <div class="cart-inline-toggled-outer">
                <!-- Link Cart-->
                <button class="link link-cart cart-inline-toggle"
                        data-rd-navbar-toggle="#cart-inline"><span
                            class="link-cart-icon fl-bigmug-line-shopping202"></span><span
                            class="link-cart-counter">2</span></button>
                <!-- Cart Inline-->
                <article class="cart-inline cart-inline-toggled" id="cart-inline">
                    <div class="cart-inline-inner">
                        <div class="cart-inline-header">
                            <h5 class="cart-inline-title">In cart: 2 products</h5>
                            <p class="cart-inline-subtitle">total price: $750</p>
                        </div>
                        <div class="cart-inline-main">
                            <!-- Product inline-->
                            <article class="product-inline">
                                <div class="product-inline-aside"><a
                                            class="product-inline-figure"
                                            href="product-page.html"><img
                                                class="product-inline-image"
                                                src="{{ asset('assets/images/product-Nike-Air-Zoom-Pegasus-67x30.png') }}"
                                                alt="" width="67" height="30"/></a></div>
                                <div class="product-inline-main">
                                    <p class="heading-7 product-inline-title"><a
                                                href="product-page.html">Nike Air Zoom Pegasus</a>
                                    </p>
                                    <ul class="product-inline-meta">
                                        <li>
                                            <input class="form-input" type="number"
                                                   data-zeros="true" value="2" min="1"
                                                   max="100">
                                        </li>
                                        <li>
                                            <p class="product-inline-price">$500.00</p>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <!-- Product inline-->
                            <article class="product-inline">
                                <div class="product-inline-aside"><a
                                            class="product-inline-figure"
                                            href="product-page.html"><img
                                                class="product-inline-image"
                                                src="{{ asset('assets/images/product-Nike-Baseball-Hat-55x38.png') }}"
                                                alt="" width="55" height="38"/></a></div>
                                <div class="product-inline-main">
                                    <p class="heading-7 product-inline-title"><a
                                                href="product-page.html">Nike Baseball Hat</a></p>
                                    <ul class="product-inline-meta">
                                        <li>
                                            <input class="form-input" type="number"
                                                   data-zeros="true" value="1" min="1"
                                                   max="100">
                                        </li>
                                        <li>
                                            <p class="product-inline-price">$500.00</p>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="cart-inline-footer"><a
                                    class="button button-md button-default-outline"
                                    href="shopping-cart.html">Go to Cart</a><a
                                    class="button button-md button-primary" href="checkout.html">Checkout</a>
                        </div>
                    </div>
                </article>
            </div>
        </li>
        <li><a class="link link-icon link-icon-left link-classic"
               href="login-and-register.html"><span
                        class="icon fl-bigmug-line-login12"></span><span
                        class="link-icon-text">Your Account</span></a>
        </li>
    </ul>
</div>