<footer class="section footer-classic footer-classic-dark context-dark">
    <div class="footer-classic-main">
        <div class="container">
            <!-- RD Mailform-->
            {% include 'FrontBundle:footer-component:_mail-contact.html.twig' %}
            {% include 'FrontBundle:footer-component:_footer-content.html.twig' %}

        </div>
    </div>
    <div class="footer-classic-aside footer-classic-darken">
        <div class="container">
            <div class="layout-justify">
                <!-- Rights-->
                <p class="rights"><span>Russia</span><span>&nbsp;&copy;&nbsp;</span><span
                            class="copyright-year"></span><span>.&nbsp;</span><a class="link-underline"
                                                                                 href="privacy-policy.html">Privacy
                        Policy</a></p>
                <nav class="nav-minimal">
                    <ul class="nav-minimal-list">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">Features </a></li>
                        <li><a href="#">Competition </a></li>
                        <li><a href="roster.html">Fan Guida</a></li>
                        <li><a href="news-1.html">Ticket</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>