<header class="section page-header rd-navbar-dark">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
             data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed"
             data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
             data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
             data-lg-stick-up-offset="166px" data-xl-stick-up-offset="166px" data-xxl-stick-up-offset="166px"
             data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                {% include 'FrontBundle:navbar-component:_nav-main-panel.html.twig' %}
            <div class="rd-navbar-main">
                {% include 'FrontBundle:navbar-component:_nav-main-top.html.twig' %}
                {% include 'FrontBundle:navbar-component:_nav-main-bottom.html.twig' %}
            </div>
        </nav>
    </div>
</header>
